
h4 { font-size: 1.1em; font-weight: normal; font-style: italic; } 
 a { text-decoration: none; color: #000044; } 
 p { margin: 0.25em 0; padding: 0; line-height: 1.25em; text-align: justify; text-indent: 0.75em; } 
 p .footnote { font-weight: bold; letter-spacing: 1px; } 
 h3 + p, h4 + p, blockquote > p, .thoughtbreak + p, div#titlepage p, div#docImprint p, div#dedication p, div#epigraph p,  div.images p, div#prologue p, ol + p { text-indent: 0; } 
 div#dedication { overflow: auto; margin: 10% 10%; text-align: center; } 
 div#dedication div.line-group, div#dedication p { text-align: center; } 
 div#dedication p { margin: 1em 0; } 
 div#dedication p.signed { margin-right: 10%; text-align: right; } 
 div#epigraph { overflow: auto; margin: 10% 10%; } 
 div.chapter h3, div#prologue h3, div#foreword h3, div#preface h3, div#introduction h3,  div#biography h3, div#epigraph h3, div#letter h3, div#note h3 { font-size: 1.5em; margin-top: 2em; } 
 div.footnotes div { margin-top: 0.5em; } 
 div.footnotes div a { font-size: 1.25em; } 
 div.footnotes div a + p { display: inline; } 
 div.tables { margin: 1.5em 0; } 

