<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Lifetime Entertainment Services</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>45000AB20106A562A1B4787F643E0966</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover.jpg</string>
		<key>package-file-hash</key>
		<string>F4515D0ED2BD6E17AFF97099D5B00221</string>
		<key>publisher-unique-id</key>
		<string>978-1-4013-9474-5</string>
		<key>unique-id</key>
		<integer>5970681054427417617</integer>
	</dict>
	<key>itemName</key>
	<string>Cook Yourself Thin</string>
	<key>playlistName</key>
	<string>Cook Yourself Thin</string>
</dict>
</plist>
