a	{
		color: blue;
	}

.aboutPublisherPage	{
	display: block;
	page-break-before: always;
			}

.pb	{
	display: block;
	margin-top: 5%;
	margin-bottom: 15%;
	page-break-before: always;
			}
.aboutPublisherHead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}


.aboutPublisherText	{
	display: block;
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-weight: normal;
			}


.aboutPublisherText1 	{
	display: block;
	margin-top: 4%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-size: medium;
	font-weight: normal;
			}


.aboutAuthorPage	{
	display: block;
	page-break-before: always;
			}

.aboutAuthorHead	{
	display: block;
	margin-top: 7%;
	margin-bottom: 7%;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}

.aboutAuthorText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}

.aboutBookPage	{
	display: block;
	page-break-before: always;
			}

.aboutBookHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.aboutBookText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}

.aboutTypePage	{
	display: block;
	page-break-before: always;
			}

.aboutTypeHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.aboutTypeText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:     left;
	text-align:  justify;
	margin-top: 0%;
	text-indent:     0%;
			}

.acknowledgeAuthor	{
			}

.acknowledgeDateline	{
			}

.acknowledgeHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 4%;
	text-align:left;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.acknowledgePage	{
	display: block;
	page-break-before: always;
			}

.acknowledgeText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:  center;
	text-indent:     0%;
	margin-bottom: 0%;	
			}

.acknowledgeSubhead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight:bold;
			}


.adCardHead	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
	text-indent: 0%;
			}

.adCardPage { 
	display: block;
	page-break-before: always;
	page-break-before: always;
	margin-bottom: 6%;
      		 }

.adCardSubhead	{
 	display: block;
	font-style: normal;
	font-weight:     normal;
	text-align:     center;
	text-indent: 0%;
	margin-bottom: 5%;
			}

.adCardText {
	display: block;
	font-style: normal;
	font-weight:     normal;
	text-align:    center;
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	}

.adCardText1	{
	display: block;
	font-style: normal;
	font-weight:     normal;
	text-align:     center;
	text-indent: 0%;
	margin-bottom: 10%;
			}



.altFrontMatterHeading	{
			}

.altPara	{
			}

.altParaNoIndent	{
			}

.backMatter	{
			}

.backMatterHead	{
			}

.backMatterSubhead	{
			}
			
.backMatterPage	{
	display: block;
	page-break-before: always;
			}

.backmatterPageHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.backmatterPageText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}

.bibAuthor	{

			}

.bibEdition	{

			}

.bibPublisher	{

			}

.bibPublisherCity	{

			}

.bibTitle	{

			}

.bibYear	{

			}

.bibliography	{

			}

.bibliographyEntry	{
	display: block; 
	margin-top:0%;
	margin-bottom: 0%;
	text-indent: -5%;
	margin-left: 5%;
			}


.bibliographyEntry1	{
	display: block; 
	margin-top:0%;
	margin-bottom: 0%;
	text-indent: -5%;
	margin-left: 10%;
			}


.bibliographyHead	{

			}

.bodyMatter	{

			}

.bold	{
        display: inline;
        font-weight: bold;
        }

.box	{
	display: block; 
	margin-top:5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
			}

.boxVerse	{
	display: block; 
	margin-top:5%;
	margin-bottom: 0%;
	margin-left: 0%;
	text-align: right;
			}

.boxEpigraph	{

			}

.boxEpigraphSource	{

			}

.boxEpigraphText	{

			}

.boxEpigraphVerse	{

			}

.boxHeadA	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}


.boxHeadB	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 0%;	
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.boxSubTitle	{
	display: block; 
	margin-bottom: 2%;	
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.boxTitle	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: large;
			}

.boxSubTitle	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: medium;
			}

.boxText	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: left;
	text-indent: 5%;
			}
			
.boxTextNoIndent	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
	text-align: left;
	margin-top: 0%;
			}

ul.bulletList	{
	display: block;
	margin-left:15%;
	text-indent: -10%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}


div.bulletList	{
	display: block;
	margin-right:5%;
	text-indent:     0%;
	margin-top:5%;
	margin-bottom:5%;
			}

.caption	{
	display: block; 
	margin-top: 2%;	
	margin-bottom:5%;
	text-align: center;
	text-indent:0%;
	font-weight: bold;
	font-size: medium;
			}

.centerImage	{
	display: block;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
			}

.centerImage1	{
	display: block;
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
			}

.chapter	{
	display: block; 
	page-break-before: always;
			}

.chapterAuthor	{

			}

.chapterBody	{

			}

.chapterByline	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	text-align:     right;
	margin-left: 25%;
	margin-top: 5%;
			}
			
.chapterDateline	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	text-align:     left;
	margin-left: 0%;
	margin-bottom: 1%;
	margin-top: 0%;
			}

.chapterEpigraph	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 5%;
	margin-right: 0%;
	margin-left: 0%;
			}

.chapterEpigraphHead	{
	display: block; 
	margin-bottom: 2%;
	margin-bottom: 2%; 
	text-indent: 0%;
	text-align: center;
	font-weight: bold;

			}
			
.chapterEpigraphSource	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 0%;
	text-align: right;
	font-style: normal;

			}

.chapterEpigraphText	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;

			}

.chapterEpigraphVerse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
			}

.chapterHead	{
	display: block; 
	margin-bottom: 0%;	
	margin-top: 0%;
			}

.chapterHeadA	{
	display: block; 
	margin-bottom: 3%;	
	margin-top: 10%;
	text-align: left;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.chapterHeadB	{
	display: block; 
	margin-bottom: 3%;	
	margin-top: 5%;
	text-align: left;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.chapterHeadC	{
	display: block; 
	margin-bottom: 0%;	
	margin-top: 5%;
	text-align: left;
	font-size: medium;
			}

.chapterNumber	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;

			}

.chapterOpenerFirstLetters	{
	display: inline; 
	margin-bottom: 2%; 
	font-weight:bold; 
	font-size:large;

			}

.chapterOpenerFirstWords	{
	display: inline; 
	margin-bottom: 2%; 
	font-weight:bold; 
	font-size:medium;
			}

.chapterOpenerText	{
	display: block; 
	margin-bottom: 0%;
	text-indent:0%;
	margin-top: 0%;
			}
			
.chapterOpenerText0	{
	display: block; 
	margin-bottom: 0%;
	text-indent:0%;
	margin-top: 10%;
			}

.chapterSubtitle	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}

.chapterTitle	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
	text-indent: 0%;
			}
.chapterTitle1	{
	display: block; 
	margin-top:25%;
	margin-bottom: 8%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
	text-indent: 0%;
			}


.colophon	{
	display: block;
	text-align: center;
	margin-top: 5%;
	text-indent: 0%;
			}

.computer	{

			}

.contents	{
	display: block; 
	page-break-before: always;



	margin-bottom: 6%;

			}

.contentsEntry	{
	display: block; 
	margin-top: 2%;
	margin-bottom:0%;
	margin-right: 0%;
	text-align: left;
	font-size: medium;

			}

.contentsEntry1	{
	display: block; 
	margin-top: 1%;
	margin-bottom: 0%;
	margin-right: 0%;
	text-align: left;
	font-size: medium;

			}

.contentsEntryName	{
	display: block; 
	margin-top:0%;
	margin-bottom: 0%;
	text-align: left;
	margin-left: 5%;
	text-indent: -5%;
	font-size: medium;
			}
.contentsEntryName1	{
	display: block; 
	margin-top:2%;
	margin-bottom: 1%;
	text-align: left;
	font-size: medium;
			}

.contentsEntryNumber	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: left;
	font-size: medium;
			}

.contentsEntryText	{
	display: block; 
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 5%;
	text-align: left;
	font-size: medium;
		}

.contentsHead	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight: bold;

			}

.copyrightAddress	{
	display: block; 
	margin-top: 0%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.copyrightPage	{
	display: block; 
	page-break-before:     always;



	margin-bottom: 6%;

			}

.copyrightPageEISBN	{
	display: inline; 
	margin-top: 2%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.copyrightText	{
	display: block; 
	margin-top: 2%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.coverImage	{

			}

.dedicationAuthor	{

			}

.dedicationHead	{

			}

.dedicationPage	{
	display: block; 
	page-break-before:     always;
	margint-top: 5%;
			}

.dedicationText	{
	display: block; 
	font-weight:     normal;
	text-align:     center;
	text-indent: 0%;
	margin-bottom:     0%;

			}

.dialogue	{

			}

.document	{

			}

.endnote	{

			}

.endnoteNumber	{

			}

.endnotes	{

			}

.endnotesHead	{

			}

.epigraphHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.epigraphPage	{
	display: block;
	page-break-before: always;
			}

.epigraphSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	margin-left: 10%;
	margin-top: 0%;
	margin-right: 10%;
	margin-bottom: 5%;
	}

.epigraphText	{
   	display:block;
	font-style:     normal;
	margin-bottom: 0%;
	margin-top: 0%;
	margin-left: 10%;
	margin-right: 10%;
			}

.epigraphVerse	{

			}

.extract	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-right:5%;
	margin-left:5%;
			}

.extractDialogue	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
			}

.extractHead	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
			}

.extractLetter	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right:5%;

			}

.extractLetterDateline	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;

			}

.extractLetterPostscript	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;

			}

.extractLetterSalutation	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;

			}

.extractLetterSignature	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
			}

.extractLetterText	{
	display: block; 
	margin-bottom: 1%;	
	text-indent: 5%;
			}
			
.extractLetterTextNoIndent	{
	display: block; 
	margin-bottom: 1%;	
	text-indent: 0%;
			}

.extractSongLyric	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;

			}
			
.extractSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	text-align:     right;
	margin-left: 25%;
	margin-top: 5%;
	}

.extractTelegram	{

			}
			
.extractText	{
	display: block; 
	margin-bottom: 0%;	
	margin-top: 0%;
	text-indent:5%;
			}

.extractTextNoIndent	{
	display: block; 
	margin-bottom: 0%;	
	margin-top: 0%;
	text-indent:0%;
			}

.extractVerse	{
	display: block; 
	margin-top: 0%;
	margin-left: 5%;
	margin-bottom: 0%;	
	text-indent: -5%;
			}
			
.extractVerseIndent	{
	display: block; 
	margin-left: 5%;
	margin-top: 0%;
	text-indent: 10%;
	margin-bottom: 0%;	
	text-indent:0%;
			}
			
.noteBlock	{
	display: block;
	page-break-before: always;
			}

.footnote	{
	display: block;
	margin-bottom: 5%;
	font-style:     normal;
	font-weight:     normal;
	text-indent:     0%;
	text-align:     left;
			}

.footnotePara	{
	display: block;
	font-size:     x-small;
	margin-bottom: 2%;
	font-style:     normal;
	font-weight:     normal;
	text-indent:     0%;
	text-align:     left;
			}

.footnoteRef	{
	display: inline;
	font-size:     x-small;
	font-style:     normal;
	font-weight:     normal;
	vertical-align: sup;
			}
			
.foreword {
	display: block; 
	page-break-before: always;
			}

.forewordByline	{
	display: block;
	margin-top: 2%;
	text-align: left;
	margin-left:25%;

			}

.forewordDateline	{
	display: block;
	margin-top: 2%;
	text-align: left;
	margin-left:25%;

			}

.forewordHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.frontis	{
	display: block; 
	page-break-before: always;



			}

.frontMatter	{

			}

.frontMatterAuthor	{

			}

.frontMatterBody	{

			}

.frontMatterEpigraph	{

			}

.frontMatterEpigraphSource	{

			}

.frontMatterEpigraphText	{

			}

.frontMatterEpigraphVerse	{

			}

.frontMatterHead	{

			}

.frontMatterHeading	{

			}

.frontMatterPage	{
	display: block;
	page-break-before: always;

			}

.frontMatterSubhead	{

			}

.frontMatterText	{

			}

.frontMatterText1	{

			}

.glossary	{
	display: block; 
	page-break-before: always;
			}

.glossaryDefinition	{

			}
			
.glossaryDefinition	{
	text-align: center;
	text-indent: 0%;
			}

.glossaryEntry	{
	display: block; 
	margin-left: 5%;
	margin-bottom: 2%;	
	text-indent: -5%;
			}

.glossaryHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight: bold;
			}

.glossaryTerm	{
	display: inline; 
	font-weight: bold;
			}

.glossaryText	{

			}

.halfTitleImage	{

			}

.halfTitlePage	{
	display: block;
	page-break-before: always;



	margin-bottom: 6%;

			}

.halfTitlePageAuthor	{

			}

.halfTitlePageTitle	{
	display: block; 
	margin-top: 20%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight: bold;

			}

.header	{
	display:none;

			}

.illustrationCreditPage	{
	display: block;
	page-break-before: always;
			}

.illustrationCreditText	{

			}

.illustrationEntry	{

			}

.illustrationEntryBackMatter	{

			}

.illustrationEntryBodyMatter	{

			}

.illustrationEntryFrontMatter	{

			}

.illustrationEntryName	{

			}

.illustrationEntryNumber	{

			}

.illustrationEntryText	{

			}

.illustrationHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.illustrationPage	{
	display: block;
	page-break-before: always;
			}

.index	{
	display: block;
	page-break-before: always;
			}

.indexEntry	{
	display: block; 
	margin-top: 0%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.indexHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.indexSubEntry	{
	display: block; 
	margin-left: 5%;
	margin-top: 0%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.indexSubSubEntry	{
	display: block; 
	margin-left: 10%;
	margin-top: 0%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}
			
.indexSubSubSubEntry	{
	display: block; 
	margin-left: 15%;
	margin-top: 0%;
	font-weight:     normal;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.italic	{ 
	display: inline;
	font-style: italic;

			}

.leftImage	{

			}

.lineSpace1	{
	display: block;
	margin-top: 2%;	
	margin-bottom: 2%;	

			}

.lineSpace2	{

			}

.lineSpace3	{

			}
.link	{
        display: none;
			}

.listHead	{

			}

.listItem	{
        display: list-item;
	text-indent: -3%;
	margin-left: 3%;
	margin-top: 0%;	
	margin-bottom: 0%;	

			}


li.listItem	{
        display: list-item;
	margin-top: 0%;	
	margin-bottom: 0%;	

			}


p.listItem	{
        display: list-item;
	margin-top: 0%;	
	margin-left: 10%;
	text-indent:     -5%;
	margin-bottom: 0%;	
			}

.narrative	{

			}

.narrative1	{

			}

.newPage	{
	page-break-before: always;
			}

ol.ol-arabic	{
	display: block;
	list-style-type: decimal;
	margin-left:8%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-alpha-upper	{
	display: block;
	list-style-type: upper-alpha;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-alpha-lower	{
	display: block;
	list-style-type: lower-alpha;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
			
ol.ol-roman-upper	{
	display: block;
	list-style-type: upper-roman;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-roman-lower	{
	display: block;
	list-style-type: lower-roman;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}

.para	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:5%;
	margin-top: 0%;

			}

.paraCenter	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
	text-align:center;
	margin-top: 0%;

			}

.paraNoIndent	{
	display: block; 
	margin-bottom: 0%;
	margin-top: 0%;
	text-indent:0%;

			}

.part	{
	display: block; 
	page-break-before: always;
			}

.partBody	{

			}

.partEpigraph	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
			}
			
.partEpigraphSource	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 0%;
	text-align: right;
	font-style: normal;

			}

.partEpigraphText	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;

			}

.partEpigraphVerse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
			}

.partHead	{
	display: block; 
	margin-bottom: 6%;	
	margin-top: 6%;
			}


.partNumber	{
	display: block; 
	margin-top: 10%;
	margin-bottom: 3%;
	text-align:left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;

			}

.partOpenerFirstLetters	{
	display: inline; 
	margin-bottom: 2%; 
	font-weight:bold; 
	font-size:large;

			}

.partOpenerFirstWords	{
	display: inline; 
	margin-bottom: 2%; 
	font-weight:bold; 
	font-size:medium;
			}

.partOpenerText	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
			}
			


.partSubtitle	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}

.partTitle	{
	display: block; 
	margin-top:20%;
	margin-bottom: 10%;
	text-align: left;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}
			
.poem	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-right:5%;
	margin-left:5%;
			}

.poemSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     medium;
	text-align:     right;
	margin-left: 25%;
	margin-top: 5%;
	}

.poemTitle	{
	display: block; 
	margin-bottom: 2%;	
	margin-top: 2%;
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.reviewPage	{
	display: block;
	page-break-before: always;
			}

.reviewPageHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.reviewPageSource	{

			}
			
.reviewPageSubhead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight:bold;
			}
			
.reviewPageText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}
			
.reviewPageSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	text-align:     right;
	margin-left: 25%;
	margin-top: 5%;
	}

.rightImage	{

			}

.sidebar	{
	display: block; 
	margin-top:5%;
	margin-bottom: 5%;
	margin-right: 15%;
	margin-left: 15%;
			}

.sidebarEpigraph	{

			}

.sidebarEpigraphSource	{

			}

.sidebarEpigraphText	{

			}

.sidebarEpigraphVerse	{

			}

.sidebarHead	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: large;
			}

.sidebarSubhead	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: medium;
			}

.sidebarText	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: left;
	text-indent: 5%;
			}
			
.sidebarTextNoIndent	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: left;
	text-indent: 0%;
			}

.smallCaps	{
	font-size: small;
			}

.spaceBreak	{
	display: block; 
	margin-bottom: 2%;
	margin-top: 0%;
        text-align: center;
	text-indent: 0%;
			}

.spaceOrnament	{
	display: block; 
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
	text-indent: 0%;
			}

.stanza	{
	display: block; 
	margin-bottom: 2%;
        margin-top: 2%; 
        text-indent: 0%;
			}

.subscript	{
	vertical-align: sub;
			}

.superscript	{
	vertical-align: sup;
			}

.table	{
	display: table;
			}

.tableTitle	{
	display: table-row;
			}

.tableOfCharacters	{

			}
.td	{
	display: table-cell;
			}

.text	{

			}

.titleImage	{

			}

.titlePage	{
	display: block;
	page-break-before: always; 



	margin-bottom: 6%;
			}

.titlePageAuthor	{
	display: block; 
	margin-top: 3%;
	margin-bottom: 6%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight: bold;
			}

.titlePageCity	{
	display: block; 
	margin-top: 2%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;
			}

.titlePageContrib	{

			}

.titlePageImprint	{

			}

.titlePagePublisher	{
	display: block; 
	margin-top: 10%;
	margin-bottom: 2%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;

			}

.titlePageSubtitle	{
	display: block; 
	margin-top: 2%;
	margin-bottom: 25%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;
			}

.titlePageTitle	{
	display: block; 
	margin-top:25%;
	margin-bottom: 15%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight: bold;

			}
			
.titlePageText {
	display: block;
	text-align: center;
	margin-top: 10%;
	font-size: medium;
	margin-bottom: 15%;
}
			
.tr	{
	display: table-row;
			}

ul.unOrderedList	{
	display: block;
	list-style-type: none;
	margin-left:0%;
	margin-right:5%;
	margin-top:0%;
	margin-bottom:5%;
			}


.underline	{
	display: inline;
	text-decoration: underline;
			}
.verse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
        }

.xref	{

			}

.xrefExternal	{

			}

.xrefInternal	{

			}

.xrefURL	{
	display: inline;
        color: blue;
	

			}