<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xps</string>
				<string>oxps</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon.png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-xpsdocument</string>
				<string>application/zip</string>
				<string>application/xps</string>
				<string>application/oxps</string>
				<string>application/xps+zip</string>
				<string>application/oxps+zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XPS Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.blio.xps</string>
				<string>com.microsoft.xps</string>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epub</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon.png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/epub+zip</string>
				<string>application/zip</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Epub Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.idpf.epub-container</string>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon.png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-iPad.png</string>
		<string>Icon-iPad@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.knfbreading.Blio${BUNDLE_ID_SUFFIX}</string>
	<key>BundledBooks</key>
	<array>
		<dict>
			<key>title</key>
			<string>Peter Rabbit</string>
			<key>authors</key>
			<array>
				<string>Potter, Beatrix</string>
			</array>
			<key>xpsPath</key>
			<string>XPS-Starters/Peter Rabbit.xps</string>
			<key>sourceSpecificID</key>
			<string>PeterRabbit</string>
			<key>placeholderOnly</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>The Legend of Sleepy Hollow</string>
			<key>authors</key>
			<array>
				<string>Irving, Washington</string>
			</array>
			<key>xpsPath</key>
			<string>XPS-Starters/The Legend of Sleepy Hollow.xps</string>
			<key>sourceSpecificID</key>
			<string>SleepyHollow</string>
			<key>placeholderOnly</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb135291369852781</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.knfbreading.blio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>blioapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3624</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIInterfaceOrientation</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIInterfaceOrientation~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>opengles-2</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIStatusBarStyle~ipad</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XPS Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.blio.xps</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>xps</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-xpsdocument</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>it</string>
		<string>ja</string>
		<string>zh_cn</string>
		<string>zh_tw</string>
		<string>ko</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>THFonts/LinLibertineO.otf</string>
		<string>THFonts/LinLibertineO-Bold.otf</string>
		<string>THFonts/LinLibertineO-Italic.otf</string>
		<string>THFonts/LinLibertineO-BoldItalic.otf</string>
	</array>
	<key>googleAPIKey</key>
	<string>AIzaSyAhUo_vweTs60oUsFr2_n6rVlmRzK8AulI</string>
	<key>FacebookAppID</key>
	<string>135291369852781</string>
</dict>
</plist>
