<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enu_hd_tracy_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Tracy</string>
		<key>sampleFilename</key>
		<string>Tracy-ENU.mp3</string>
	</dict>
	<key>enu_hd_kenny_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Kenny</string>
		<key>sampleFilename</key>
		<string>Kenny-ENU.mp3</string>
	</dict>
	<key>enu_hd_laura_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Laura</string>
		<key>sampleFilename</key>
		<string>Laura-ENU.mp3</string>
	</dict>
	<key>enu_hd_nelly_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Nelly</string>
		<key>sampleFilename</key>
		<string>Nelly-ENU.mp3</string>
	</dict>
	<key>enu_hd_ryan_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Ryan</string>
		<key>sampleFilename</key>
		<string>Ryan-ENU.mp3</string>
	</dict>
	<key>enu_hd_heather_22k_lf.bvcu</key>
	<dict>
		<key>voiceName</key>
		<string>Heather</string>
		<key>sampleFilename</key>
		<string>Heather-ENU.mp3</string>
	</dict>
</dict>
</plist>
