<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enu_kenny_22k_ns.cvcu.411</key>
	<dict>
		<key>voiceName</key>
		<string>Kenny</string>
		<key>url</key>
		<string>http://localhost/kenny.zip</string>
		<key>sampleFilename</key>
		<string>sample-kenny.mp3</string>
	</dict>
	<key>enu_laura_22k_ns.cvcu.411</key>
	<dict>
		<key>voiceName</key>
		<string>Laura</string>
		<key>url</key>
		<string>http://localhost/laura.zip</string>
		<key>sampleFilename</key>
		<string>sample-laura.mp3</string>
	</dict>
	<key>enu_nelly_22k_ns.cvcu.411</key>
	<dict>
		<key>voiceName</key>
		<string>Nelly</string>
		<key>url</key>
		<string>http://localhost/nelly.zip</string>
		<key>sampleFilename</key>
		<string>sample-nelly.mp3</string>
	</dict>
	<key>enu_ryan_22k_ns.cvcu.411</key>
	<dict>
		<key>voiceName</key>
		<string>Ryan</string>
		<key>url</key>
		<string>http://localhost/ryan.zip</string>
		<key>sampleFilename</key>
		<string>sample-ryan.mp3</string>
	</dict>
	<key>enu_heather_22k_lf.bvcu.411</key>
	<dict>
		<key>voiceName</key>
		<string>Heather</string>
		<key>url</key>
		<string>http://localhost/heather.zip</string>
		<key>sampleFilename</key>
		<string>sample-heather.mp3</string>
	</dict>
</dict>
</plist>
