* { margin:0; padding:0; border:0; }
Flow { text-align:left; display:block }
Section { display:block }
Paragraph { display:block }
*[FontWeight="Bold"] { font-weight:bold }
*[FontStyle="Italic"] { font-style:italic }
*[PageBreakBefore="True"] { page-break-before:always }
*[BreakPageBefore="True"] { page-break-before:always }
*[TextAlignment="Justify"] { text-align:justify }
*[TextAlignment="Center"] { text-align:center }
*[TextAlignment="Left"] { text-align:left }
*[TextAlignment="Right"] { text-align:right }
LineBreak:before { content:"\A"; white-space: pre-line }
:link { text-decoration: underline }
:link * { text-decoration: inherit }