* { margin:0; padding:0; border:0; }
Flow { text-align:justify; display:block }
Section { display:block }
Paragraph { display:block; }

LineBreak:before { content:"\A"; white-space:pre-line; }
:link { color:blue }

*[FontWeight="Bold"] { font-weight:bold }
*[FontStyle="Italic"] { font-style:italic }
*[BreakPageBefore="True"] { page-break-before:always }
*[BreakColumnBefore="True"] { page-break-before:always }
*[TextAlignment="Justify"] { text-align:justify }
*[TextAlignment="Center"] { text-align:center }
*[TextAlignment="Left"] { text-align:left }
*[TextAlignment="Right"] { text-align:right }
*[BaselineAlignment="Top"] { vertical-align:top }
*[BaselineAlignment="Center"] { vertical-align:middle }
*[BaselineAlignment="Bottom"] { vertical-align:bottom }
*[BaselineAlignment="Baseline"] { vertical-align:baseline }
*[BaselineAlignment="TextTop"] { vertical-align:text-top }
*[BaselineAlignment="TextBottom"] { vertical-align:text-bottom }
*[BaselineAlignment="Subscript"] { vertical-align:sub }
*[BaselineAlignment="Superscript"] { vertical-align:super }

/* 
   These are not fully semantically equivalant, but they work for the 
   Blio ePub-sourced XAML files 
*/
*[HorizontalAnchor="PageLeft"] { float:left }
*[HorizontalAnchor="ColumnLeft"] { float:left }
*[HorizontalAnchor="ContentLeft"] { float:left }
*[HorizontalAnchor="PageRight"] { float:right }
*[HorizontalAnchor="ColumnRight"] { float:right }
*[HorizontalAnchor="ContentRight"] { float:right }
*[Stretch="Fill"] { width:100%;height:100%; }

