Flow { text-align:justify; display:block }
Paragraph { text-indent:1em; margin-bottom: 0.25em; display:block }
*[FontWeight="Bold"] { font-weight:bold }
*[FontStyle="Italic"] { font-style:italic }
*[PageBreakBefore="True"] { page-break-before:always }
LineBreak:before { content:"\A"; white-space: pre-line }
