<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
<key>amp</key>	<integer>38</integer>	<!-- ampersand -->
<key>gt</key>	<integer>62</integer>	<!-- greater-than sign -->
<key>lt</key>	<integer>60</integer>	<!-- less-than sign -->
<key>quot</key>	<integer>34</integer>	<!-- quotation mark = APL quote -->
<key>acute</key>	<integer>180</integer>	<!-- acute accent = spacing acute -->
<key>cedil</key>	<integer>184</integer>	<!-- cedilla = spacing cedilla -->
<key>circ</key>	<integer>710</integer>	<!-- modifier letter circumflex accent -->
<key>macr</key>	<integer>175</integer>	<!-- macron = spacing macron = overline = APL overbar -->
<key>middot</key>	<integer>183</integer>	<!-- middle dot = Georgian comma = Greek middle dot -->
<key>tilde</key>	<integer>732</integer>	<!-- small tilde -->
<key>uml</key>	<integer>168</integer>	<!-- diaeresis = spacing diaeresis -->
<key>Aacute</key>	<integer>193</integer>	<!-- latin capital letter A with acute -->
<key>aacute</key>	<integer>225</integer>	<!-- latin small letter a with acute -->
<key>Acirc</key>	<integer>194</integer>	<!-- latin capital letter A with circumflex -->
<key>acirc</key>	<integer>226</integer>	<!-- latin small letter a with circumflex -->
<key>AElig</key>	<integer>198</integer>	<!-- latin capital letter AE = latin capital ligature AE -->
<key>aelig</key>	<integer>230</integer>	<!-- latin small letter ae = latin small ligature ae -->
<key>Agrave</key>	<integer>192</integer>	<!-- latin capital letter A with grave = latin capital letter A grave -->
<key>agrave</key>	<integer>224</integer>	<!-- latin small letter a with grave = latin small letter a grave -->
<key>Aring</key>	<integer>197</integer>	<!-- latin capital letter A with ring above = latin capital letter A ring -->
<key>aring</key>	<integer>229</integer>	<!-- latin small letter a with ring above = latin small letter a ring -->
<key>Atilde</key>	<integer>195</integer>	<!-- latin capital letter A with tilde -->
<key>atilde</key>	<integer>227</integer>	<!-- latin small letter a with tilde -->
<key>Auml</key>	<integer>196</integer>	<!-- latin capital letter A with diaeresis -->
<key>auml</key>	<integer>228</integer>	<!-- latin small letter a with diaeresis -->
<key>Ccedil</key>	<integer>199</integer>	<!-- latin capital letter C with cedilla -->
<key>ccedil</key>	<integer>231</integer>	<!-- latin small letter c with cedilla -->
<key>Eacute</key>	<integer>201</integer>	<!-- latin capital letter E with acute -->
<key>eacute</key>	<integer>233</integer>	<!-- latin small letter e with acute -->
<key>Ecirc</key>	<integer>202</integer>	<!-- latin capital letter E with circumflex -->
<key>ecirc</key>	<integer>234</integer>	<!-- latin small letter e with circumflex -->
<key>Egrave</key>	<integer>200</integer>	<!-- latin capital letter E with grave -->
<key>egrave</key>	<integer>232</integer>	<!-- latin small letter e with grave -->
<key>ETH</key>	<integer>208</integer>	<!-- latin capital letter ETH -->
<key>eth</key>	<integer>240</integer>	<!-- latin small letter eth -->
<key>Euml</key>	<integer>203</integer>	<!-- latin capital letter E with diaeresis -->
<key>euml</key>	<integer>235</integer>	<!-- latin small letter e with diaeresis -->
<key>Iacute</key>	<integer>205</integer>	<!-- latin capital letter I with acute -->
<key>iacute</key>	<integer>237</integer>	<!-- latin small letter i with acute -->
<key>Icirc</key>	<integer>206</integer>	<!-- latin capital letter I with circumflex -->
<key>icirc</key>	<integer>238</integer>	<!-- latin small letter i with circumflex -->
<key>Igrave</key>	<integer>204</integer>	<!-- latin capital letter I with grave -->
<key>igrave</key>	<integer>236</integer>	<!-- latin small letter i with grave -->
<key>Iuml</key>	<integer>207</integer>	<!-- latin capital letter I with diaeresis -->
<key>iuml</key>	<integer>239</integer>	<!-- latin small letter i with diaeresis -->
<key>Ntilde</key>	<integer>209</integer>	<!-- latin capital letter N with tilde -->
<key>ntilde</key>	<integer>241</integer>	<!-- latin small letter n with tilde -->
<key>Oacute</key>	<integer>211</integer>	<!-- latin capital letter O with acute -->
<key>oacute</key>	<integer>243</integer>	<!-- latin small letter o with acute -->
<key>Ocirc</key>	<integer>212</integer>	<!-- latin capital letter O with circumflex -->
<key>ocirc</key>	<integer>244</integer>	<!-- latin small letter o with circumflex -->
<key>OElig</key>	<integer>338</integer>	<!-- latin capital ligature OE -->
<key>oelig</key>	<integer>339</integer>	<!-- latin small ligature oe -->
<key>Ograve</key>	<integer>210</integer>	<!-- latin capital letter O with grave -->
<key>ograve</key>	<integer>242</integer>	<!-- latin small letter o with grave -->
<key>Oslash</key>	<integer>216</integer>	<!-- latin capital letter O with stroke = latin capital letter O slash -->
<key>oslash</key>	<integer>248</integer>	<!-- latin small letter o with stroke, = latin small letter o slash -->
<key>Otilde</key>	<integer>213</integer>	<!-- latin capital letter O with tilde -->
<key>otilde</key>	<integer>245</integer>	<!-- latin small letter o with tilde -->
<key>Ouml</key>	<integer>214</integer>	<!-- latin capital letter O with diaeresis -->
<key>ouml</key>	<integer>246</integer>	<!-- latin small letter o with diaeresis -->
<key>Scaron</key>	<integer>352</integer>	<!-- latin capital letter S with caron  -->
<key>scaron</key>	<integer>353</integer>	<!-- latin small letter s with caron  -->
<key>szlig</key>	<integer>223</integer>	<!-- latin small letter sharp s = ess-zed -->
<key>THORN</key>	<integer>222</integer>	<!-- latin capital letter THORN -->
<key>thorn</key>	<integer>254</integer>	<!-- latin small letter thorn  -->
<key>Uacute</key>	<integer>218</integer>	<!-- latin capital letter U with acute -->
<key>uacute</key>	<integer>250</integer>	<!-- latin small letter u with acute -->
<key>Ucirc</key>	<integer>219</integer>	<!-- latin capital letter U with circumflex -->
<key>ucirc</key>	<integer>251</integer>	<!-- latin small letter u with circumflex -->
<key>Ugrave</key>	<integer>217</integer>	<!-- latin capital letter U with grave -->
<key>ugrave</key>	<integer>249</integer>	<!-- latin small letter u with grave -->
<key>Uuml</key>	<integer>220</integer>	<!-- latin capital letter U with diaeresis -->
<key>uuml</key>	<integer>252</integer>	<!-- latin small letter u with diaeresis -->
<key>Yacute</key>	<integer>221</integer>	<!-- latin capital letter Y with acute -->
<key>yacute</key>	<integer>253</integer>	<!-- latin small letter y with acute -->
<key>yuml</key>	<integer>255</integer>	<!-- latin small letter y with diaeresis -->
<key>Yuml</key>	<integer>376</integer>	<!-- latin capital letter Y with diaeresis -->
<key>brvbar</key>	<integer>166</integer>	<!-- broken bar = broken vertical bar -->
<key>bull</key>	<integer>8226</integer>	<!-- bullet = black small circle -->
<key>copy</key>	<integer>169</integer>	<!-- copyright sign -->
<key>dagger</key>	<integer>8224</integer>	<!-- dagger -->
<key>Dagger</key>	<integer>8225</integer>	<!-- double dagger -->
<key>frasl</key>	<integer>8260</integer>	<!-- fraction slash -->
<key>hellip</key>	<integer>8230</integer>	<!-- horizontal ellipsis = three dot leader -->
<key>iexcl</key>	<integer>161</integer>	<!-- inverted exclamation mark -->
<key>image</key>	<integer>8465</integer>	<!-- blackletter capital I = imaginary part -->
<key>iquest</key>	<integer>191</integer>	<!-- inverted question mark = turned question mark -->
<key>lrm</key>	<integer>8206</integer>	<!-- left-to-right mark (for formatting only) -->
<key>mdash</key>	<integer>8212</integer>	<!-- em dash -->
<key>ndash</key>	<integer>8211</integer>	<!-- en dash -->
<key>not</key>	<integer>172</integer>	<!-- not sign -->
<key>oline</key>	<integer>8254</integer>	<!-- overline = spacing overscore -->
<key>ordf</key>	<integer>170</integer>	<!-- feminine ordinal indicator -->
<key>ordm</key>	<integer>186</integer>	<!-- masculine ordinal indicator -->
<key>para</key>	<integer>182</integer>	<!-- pilcrow sign = paragraph sign -->
<key>permil</key>	<integer>8240</integer>	<!-- per mille sign -->
<key>prime</key>	<integer>8242</integer>	<!-- prime = minutes = feet -->
<key>Prime</key>	<integer>8243</integer>	<!-- double prime = seconds = inches -->
<key>real</key>	<integer>8476</integer>	<!-- blackletter capital R = real part symbol -->
<key>reg</key>	<integer>174</integer>	<!-- registered sign = registered trade mark sign -->
<key>rlm</key>	<integer>8207</integer>	<!-- right-to-left mark (for formatting only) -->
<key>sect</key>	<integer>167</integer>	<!-- section sign -->
<key>shy</key>	<integer>173</integer>	<!-- soft hyphen = discretionary hyphen (displays incorrectly on Mac) -->
<key>sup1</key>	<integer>185</integer>	<!-- superscript one = superscript digit one -->
<key>trade</key>	<integer>8482</integer>	<!-- trade mark sign -->
<key>weierp</key>	<integer>8472</integer>	<!-- script capital P = power set = Weierstrass p -->
<key>bdquo</key>	<integer>8222</integer>	<!-- double low-9 quotation mark -->
<key>laquo</key>	<integer>171</integer>	<!-- left-pointing double angle quotation mark = left pointing guillemet -->
<key>ldquo</key>	<integer>8220</integer>	<!-- left double quotation mark -->
<key>lsaquo</key>	<integer>8249</integer>	<!-- single left-pointing angle quotation mark -->
<key>lsquo</key>	<integer>8216</integer>	<!-- left single quotation mark -->
<key>raquo</key>	<integer>187</integer>	<!-- right-pointing double angle quotation mark = right pointing guillemet -->
<key>rdquo</key>	<integer>8221</integer>	<!-- right double quotation mark -->
<key>rsaquo</key>	<integer>8250</integer>	<!-- single right-pointing angle quotation mark -->
<key>rsquo</key>	<integer>8217</integer>	<!-- right single quotation mark -->
<key>sbquo</key>	<integer>8218</integer>	<!-- single low-9 quotation mark -->
<key>emsp</key>	<integer>8195</integer>	<!-- em space -->
<key>ensp</key>	<integer>8194</integer>	<!-- en space -->
<key>nbsp</key>	<integer>160</integer>	<!-- no-break space = non-breaking space -->
<key>thinsp</key>	<integer>8201</integer>	<!-- thin space -->
<key>zwj</key>	<integer>8205</integer>	<!-- zero width joiner -->
<key>zwnj</key>	<integer>8204</integer>	<!-- zero width non-joiner -->
<key>deg</key>	<integer>176</integer>	<!-- degree sign -->
<key>divide</key>	<integer>247</integer>	<!-- division sign -->
<key>frac12</key>	<integer>189</integer>	<!-- vulgar fraction one half = fraction one half -->
<key>frac14</key>	<integer>188</integer>	<!-- vulgar fraction one quarter = fraction one quarter -->
<key>frac34</key>	<integer>190</integer>	<!-- vulgar fraction three quarters = fraction three quarters -->
<key>ge</key>	<integer>8805</integer>	<!-- greater-than or equal to -->
<key>le</key>	<integer>8804</integer>	<!-- less-than or equal to -->
<key>minus</key>	<integer>8722</integer>	<!-- minus sign -->
<key>sup2</key>	<integer>178</integer>	<!-- superscript two = superscript digit two = squared -->
<key>sup3</key>	<integer>179</integer>	<!-- superscript three = superscript digit three = cubed -->
<key>times</key>	<integer>215</integer>	<!-- multiplication sign -->
<key>alefsym</key>	<integer>8501</integer>	<!-- alef symbol = first transfinite cardinal -->
<key>and</key>	<integer>8743</integer>	<!-- logical and = wedge -->
<key>ang</key>	<integer>8736</integer>	<!-- angle -->
<key>asymp</key>	<integer>8776</integer>	<!-- almost equal to = asymptotic to -->
<key>cap</key>	<integer>8745</integer>	<!-- intersection = cap -->
<key>cong</key>	<integer>8773</integer>	<!-- approximately equal to -->
<key>cup</key>	<integer>8746</integer>	<!-- union = cup -->
<key>empty</key>	<integer>8709</integer>	<!-- empty set = null set = diameter -->
<key>equiv</key>	<integer>8801</integer>	<!-- identical to -->
<key>exist</key>	<integer>8707</integer>	<!-- there exists -->
<key>fnof</key>	<integer>402</integer>	<!-- latin small f with hook = function = florin -->
<key>forall</key>	<integer>8704</integer>	<!-- for all -->
<key>infin</key>	<integer>8734</integer>	<!-- infinity -->
<key>int</key>	<integer>8747</integer>	<!-- integral -->
<key>isin</key>	<integer>8712</integer>	<!-- element of -->
<key>lang</key>	<integer>9001</integer>	<!-- left-pointing angle bracket = bra -->
<key>lceil</key>	<integer>8968</integer>	<!-- left ceiling = apl upstile -->
<key>lfloor</key>	<integer>8970</integer>	<!-- left floor = apl downstile -->
<key>lowast</key>	<integer>8727</integer>	<!-- asterisk operator -->
<key>micro</key>	<integer>181</integer>	<!-- micro sign -->
<key>nabla</key>	<integer>8711</integer>	<!-- nabla = backward difference -->
<key>ne</key>	<integer>8800</integer>	<!-- not equal to -->
<key>ni</key>	<integer>8715</integer>	<!-- contains as member -->
<key>notin</key>	<integer>8713</integer>	<!-- not an element of -->
<key>nsub</key>	<integer>8836</integer>	<!-- not a subset of -->
<key>oplus</key>	<integer>8853</integer>	<!-- circled plus = direct sum -->
<key>or</key>	<integer>8744</integer>	<!-- logical or = vee -->
<key>otimes</key>	<integer>8855</integer>	<!-- circled times = vector product -->
<key>part</key>	<integer>8706</integer>	<!-- partial differential -->
<key>perp</key>	<integer>8869</integer>	<!-- up tack = orthogonal to = perpendicular -->
<key>plusmn</key>	<integer>177</integer>	<!-- plus-minus sign = plus-or-minus sign -->
<key>prod</key>	<integer>8719</integer>	<!-- n-ary product = product sign  -->
<key>prop</key>	<integer>8733</integer>	<!-- proportional to -->
<key>radic</key>	<integer>8730</integer>	<!-- square root = radical sign -->
<key>rang</key>	<integer>9002</integer>	<!-- right-pointing angle bracket = ket -->
<key>rceil</key>	<integer>8969</integer>	<!-- right ceiling -->
<key>rfloor</key>	<integer>8971</integer>	<!-- right floor -->
<key>sdot</key>	<integer>8901</integer>	<!-- dot operator -->
<key>sim</key>	<integer>8764</integer>	<!-- tilde operator = varies with = similar to -->
<key>sub</key>	<integer>8834</integer>	<!-- subset of -->
<key>sube</key>	<integer>8838</integer>	<!-- subset of or equal to -->
<key>sum</key>	<integer>8721</integer>	<!-- n-ary sumation -->
<key>sup</key>	<integer>8835</integer>	<!-- superset of -->
<key>supe</key>	<integer>8839</integer>	<!-- superset of or equal to -->
<key>there4</key>	<integer>8756</integer>	<!-- therefore -->
<key>Alpha</key>	<integer>913</integer>	<!-- greek capital letter alpha -->
<key>alpha</key>	<integer>945</integer>	<!-- greek small letter alpha -->
<key>Beta</key>	<integer>914</integer>	<!-- greek capital letter beta -->
<key>beta</key>	<integer>946</integer>	<!-- greek small letter beta -->
<key>Chi</key>	<integer>935</integer>	<!-- greek capital letter chi -->
<key>chi</key>	<integer>967</integer>	<!-- greek small letter chi -->
<key>Delta</key>	<integer>916</integer>	<!-- greek capital letter delta -->
<key>delta</key>	<integer>948</integer>	<!-- greek small letter delta -->
<key>Epsilon</key>	<integer>917</integer>	<!-- greek capital letter epsilon -->
<key>epsilon</key>	<integer>949</integer>	<!-- greek small letter epsilon -->
<key>Eta</key>	<integer>919</integer>	<!-- greek capital letter eta -->
<key>eta</key>	<integer>951</integer>	<!-- greek small letter eta -->
<key>Gamma</key>	<integer>915</integer>	<!-- greek capital letter gamma -->
<key>gamma</key>	<integer>947</integer>	<!-- greek small letter gamma -->
<key>Iota</key>	<integer>921</integer>	<!-- greek capital letter iota -->
<key>iota</key>	<integer>953</integer>	<!-- greek small letter iota -->
<key>Kappa</key>	<integer>922</integer>	<!-- greek capital letter kappa -->
<key>kappa</key>	<integer>954</integer>	<!-- greek small letter kappa -->
<key>Lambda</key>	<integer>923</integer>	<!-- greek capital letter lambda -->
<key>lambda</key>	<integer>955</integer>	<!-- greek small letter lambda -->
<key>Mu</key>	<integer>924</integer>	<!-- greek capital letter mu -->
<key>mu</key>	<integer>956</integer>	<!-- greek small letter mu -->
<key>Nu</key>	<integer>925</integer>	<!-- greek capital letter nu -->
<key>nu</key>	<integer>957</integer>	<!-- greek small letter nu -->
<key>Omega</key>	<integer>937</integer>	<!-- greek capital letter omega -->
<key>omega</key>	<integer>969</integer>	<!-- greek small letter omega -->
<key>Omicron</key>	<integer>927</integer>	<!-- greek capital letter omicron -->
<key>omicron</key>	<integer>959</integer>	<!-- greek small letter omicron -->
<key>Phi</key>	<integer>934</integer>	<!-- greek capital letter phi -->
<key>phi</key>	<integer>966</integer>	<!-- greek small letter phi -->
<key>Pi</key>	<integer>928</integer>	<!-- greek capital letter pi -->
<key>pi</key>	<integer>960</integer>	<!-- greek small letter pi -->
<key>piv</key>	<integer>982</integer>	<!-- greek pi symbol -->
<key>Psi</key>	<integer>936</integer>	<!-- greek capital letter psi -->
<key>psi</key>	<integer>968</integer>	<!-- greek small letter psi -->
<key>Rho</key>	<integer>929</integer>	<!-- greek capital letter rho -->
<key>rho</key>	<integer>961</integer>	<!-- greek small letter rho -->
<key>Sigma</key>	<integer>931</integer>	<!-- greek capital letter sigma -->
<key>sigma</key>	<integer>963</integer>	<!-- greek small letter sigma -->
<key>sigmaf</key>	<integer>962</integer>	<!-- greek small letter final sigma -->
<key>Tau</key>	<integer>932</integer>	<!-- greek capital letter tau -->
<key>tau</key>	<integer>964</integer>	<!-- greek small letter tau -->
<key>Theta</key>	<integer>920</integer>	<!-- greek capital letter theta -->
<key>theta</key>	<integer>952</integer>	<!-- greek small letter theta -->
<key>thetasym</key>	<integer>977</integer>	<!-- greek small letter theta symbol -->
<key>upsih</key>	<integer>978</integer>	<!-- greek upsilon with hook symbol -->
<key>Upsilon</key>	<integer>933</integer>	<!-- greek capital letter upsilon -->
<key>upsilon</key>	<integer>965</integer>	<!-- greek small letter upsilon -->
<key>Xi</key>	<integer>926</integer>	<!-- greek capital letter xi -->
<key>xi</key>	<integer>958</integer>	<!-- greek small letter xi -->
<key>Zeta</key>	<integer>918</integer>	<!-- greek capital letter zeta -->
<key>zeta</key>	<integer>950</integer>	<!-- greek small letter zeta -->
<key>crarr</key>	<integer>8629</integer>	<!-- downwards arrow with corner leftwards = carriage return -->
<key>darr</key>	<integer>8595</integer>	<!-- downwards arrow -->
<key>dArr</key>	<integer>8659</integer>	<!-- downwards double arrow -->
<key>harr</key>	<integer>8596</integer>	<!-- left right arrow -->
<key>hArr</key>	<integer>8660</integer>	<!-- left right double arrow -->
<key>larr</key>	<integer>8592</integer>	<!-- leftwards arrow -->
<key>lArr</key>	<integer>8656</integer>	<!-- leftwards double arrow -->
<key>rarr</key>	<integer>8594</integer>	<!-- rightwards arrow -->
<key>rArr</key>	<integer>8658</integer>	<!-- rightwards double arrow </a> -->
<key>uarr</key>	<integer>8593</integer>	<!-- upwards arrow -->
<key>uArr</key>	<integer>8657</integer>	<!-- upwards double arrow -->
<key>clubs</key>	<integer>9827</integer>	<!-- black club suit = shamrock -->
<key>diams</key>	<integer>9830</integer>	<!-- black diamond suit -->
<key>hearts</key>	<integer>9829</integer>	<!-- black heart suit = valentine -->
<key>spades</key>	<integer>9824</integer>	<!-- black spade suit -->
<key>loz</key>	<integer>9674</integer>	<!-- lozenge -->
<key>pound</key>	<integer>163</integer> <!-- pound sterling -->
</dict>
</plist>