body,p {
	font-family:times new roman;
	margin-top: 2px;
        background-color: FFFFFF;

}
p.first { 
}
p.left { 
    text-align:left;
}
p.right { 
    text-align:right;
}
p.center { 
    text-align:center;
}
p.justify { 
    text-align:justify;
}
p.breakafter { 
    margin-bottom: 10%;
}
p.bqfirst {
    margin-left: 10%;
    margin-right: 15%;
}
.numerator { font-size: 9px; vertical-align: super;margin-top:5px;margin-bottom:20px}
.denominator { font-size: 10px; margin-top:-50px}
.fraction {  border:none; 
}
span.deflistterm
{        font-weight:bold;
}
span.deflistdd
{    font-family:times new roman;     
}
.pubfirst { text-align:center;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 20%;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
span.pubspan {
font-variant: small-caps;
font-size: 16pt;
}
p.pubsecond {
text-align:center;
margin-top: 40px;
margin-bottom: 10px;
width: 70%;
margin-left: 20%;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}


p.follow {
}

p.listhead {
        font-weight:bold;
        margin-top: 8px;
        margin-bottom: 4px;
}
p.backlisthead {
	font-variant: small-caps;
    margin-left: 20px;
	margin-top: 8px;
    margin-bottom: 0px;
}
b {
        font-weight:bold;
}
ul.plain {
        list-style:none;
}
table.box ul.plain {
}
ul.dash {
        list-style-image: url(GIF/mdash.gif);
}
li.spacebefore {
	margin-top: 12px;
}
li.hanging {
font-size: 12px;     
   text-indent: -15px;
        margin-left: -25px;
}
li.hanging-toc
{
margin-left: -15px;
}
li.noindent {
        margin-top: 10px;
	margin-left: -40px;
}
p.tocitalic
{
        font-style: italic;
        margin-bottom: 1px;
}
img.charentity {
		vertical-align: middle;
}
table.box {
	width: 85%;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid black;
        background-color: #ffc;
        color: #000;
}
.fig {
	margin-top: 10px;
	margin-bottom: 4px;
        text-align:center;
}
p.figcenter {
 text-align:center;
}
.caption {
	font-family:arial,sans-serif; 
	font-weight: bold; 
	font-size: 10pt;
	margin-bottom: 0px;
	margin-left: 30px;
}
.subcaption {
	font-weight: normal;
	font-style: italic; 
	font-size: 10pt;
	margin-top: -16px;
	margin-bottom: 0px;
	margin-left: 30px;
}
.source { 
	font-family:arial,sans-serif;
	font-style: italic;
	font-size: 9pt;
	margin-top: 0px;
	margin-bottom: 10px;
}
.date {
}
.lcsmallcaps {
	text-transform: lowercase;
}
p.footnote {
	margin-top: -10pt;
	margin-bottom: 20pt;
}
.footnoteref {
}

.keyword {
}
p.url {
	margin-bottom:10px; 
}
p.catalog {
	margin-bottom:0px; 
}
p.copyright {
	margin-bottom:10px; 
}
p.isbn {
	margin-bottom:10px; 
}
p.pubname {
        margin-top:60px;	
        margin-bottom:10px;
        text-align: center;
}
p.edition {
}
p.reprint {
	margin-bottom:10px; 
}
p.pubfront {
	margin-bottom:10px; 
}

p.sectionauthor {
	text-align:right; 
}
p.quote1 {
   font-family:times new roman;
    font-size: 10px;
	text-align:center;
}
p.bqauthor {
    font-family:arial,sans-serif;
    font-size: 12px;
}
p.bqcitn {
    font-family:arial,sans-serif; 
    font-size: 9.5pt;
	text-align:right; 
	font-style: normal;
	text-indent: -15px;
}
table.box p.bqcitn {
	font-weight: bold;
    font-size: 9.5pt;
}
.boxid {
	color: red;
}
blockquote {
	margin-left: 20px;
	width: 75%;
}
blockquote.poem {
}
table.box blockquote.poem {
	font-style: normal;
}
table.box blockquote {
	margin-left: 20px;
	margin-right: 20px;
	width: 90%; 
    font-family:times new roman; 
    font-size: 10pt;
}
table.box p {
    font-family:times new roman; 
    font-size: 11pt;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #ffc;
}
em.displayquote {
	font-style: normal;
}
p.bqfollow {
	text-indent: 18px;
	margin-top:0px;
	margin-bottom:0px; 
}
p.graphicbreak {
	margin-left: 85px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.biblist {
	margin-left: 30px;
}
p.citn {
	margin-top: 0px;
	margin-bottom: 5px; 
	text-indent: -15px;
	padding-left: 15px;
}
p.ded {
	text-align:center; 
	margin-top: 12pt;
	margin-bottom: 12pt;
}
p.contrib { 
	margin-top: 0px;
	margin-bottom: 0px;
}
.contribrole { 
	margin-top: 20px;
	margin-bottom: 0px;
	font-style: italic;
}
.contribname {
}
p.spacebefore {
	margin-top: 20px;
}
p.index {
    font-family:arial,sans-serif; 
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 0px;
}
h1.worktitle {
	text-align: center;
	font-size:30pt;
	margin-bottom: 0px;
}
h1.fronttitle, h1.chaptertitle, h1.backtitle {  
	text-align: center;
	color: red;
	font-size:20pt;
	margin-top:12pt;
	margin-bottom:16pt;
        font-weight: bold; 
}
h2.chaptersubtitle {
	color: blue;
	text-align: center;
    font-weight: normal;
	font-size: 14pt;
}
h1.parttitle  {  
	color: purple;
	font-size:20pt;
	margin-top:12pt;
	margin-bottom:16pt;
	text-align: center;
}
.partno {
	font-size: 16pt;
}

span.chapno {  
	font-size: 20pt;
	font-style: normal;
}

.partname {
}
h2.partsubtitle {
	color: purple;
	font-size: 16pt;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

h2.worksubtitle {
    font-family:arial,sans-serif;
	text-align: center;
	font-size:12pt;
	margin-top: -5pt;
	margin-bottom: 10pt;
	margin-left: 250px;
	margin-right: 250px;
	padding: 10px;
}

h2.workauthors {
    font-family:Times new roman; 
	text-align: center;
    font-size:18pt;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom:50px;
}


.sectionno {
	font-size: 15pt;
	font-style: italic;
}

h2.sectiontitle, h2.backsectiontitle {
	font-size: 15pt;
	padding-top: 7px;
	padding-bottom: 0px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: blue;
	font-weight: bold; 
}
h2.frontsectiontitle {
    font-family:arial,sans-serif; 
	font-style: italic;
	font-size: 11pt;
	margin-bottom: 4px;
	color: blue;
}
h2.sectionsubtitle {
    font-family:arial,sans-serif; 
	font-size: 11pt;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 10px;
	color: blue;
        text-align: center;
}


h3.sectionsubtitle {
    font-family:arial,sans-serif; 
	font-size: 11pt;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 10px;
	color: blue;
}

h3.backsectiontitle {
	color: purple;
	font-size: 16pt;
	margin-bottom: 4px;
	font-family: arial;
	font-size: 12pt;
}

h3.subsect1title { 
    font-family:times new roman; 
	font-weight: normal;
	color: green;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 15pt;
}

h3.subsect2title { 
    font-family:arial,sans-serif; 
	font-size: 10pt;
	margin-bottom: 4px;
	color: blue;
}


h4.boxsubtitle { 
	font-family: arial;
	color: green;
	font-weight: normal;
	font-style: italic;
	font-size: 10pt;
	margin-top: 0px;
	margin-bottom: 5px;
}
h4.boxbibtitle {
	font-family: arial;
	color: blue;
	font-size: 10pt;
	margin-top: 0px;
	margin-bottom: 5px;
}
h4.boxsectiontitle {
	color: green;
	font-family:times;
	font-weight: bold;
	font-size: 12pt;
}
h4.boxsubsect1title {
	color: orange;
	font-family:times;
	font-weight: bold;
	font-size: 11pt;
}

h4.subsect3title {
    font-family:arial,sans-serif; 
	text-align: center; 
	text-transform: uppercase;
	color: blue;
	font-size: 9.5pt;
}

h4.subsect4title {
    font-family:arial,sans-serif; 
	color: green;
	margin-bottom: 2px;
	font-size: 10pt;
}

h4.subsect5title {
	color: green;
}

h4.subsect6title {
}

.house-form, .house-style, .house-const {
	font-family: arial;
	color: purple;
}


tr.th {
}

th {
 
	font-family: times new roman;
	font-size: 10.5pt;
	text-align:left;
  	font-weight: bold;
}


td {
	font-size:10.5pt;
}

h3.tabletitle {
	padding-top:4px;
	padding-bottom:4px;
	font-family:arial;
	font-style: italic;
	font-size: 11pt;
	margin-bottom: 4px;
}

p.tabletitle {
	padding-top:4px;
	padding-bottom:4px;
        border-bottom: 1px solid black;
	width: 70%;
        font-family:times new roman;
	font-style: italic;
	font-size: 11pt;
	margin-bottom: -1pt;
}

.rowsep {border-bottom: 1px solid black; }
.bottomline {border-bottom: 1px solid black; }


table {
	width: 100%;
	margin-bottom: 20px;
        border:none;
        border-collapse:collapse;        
        }
table.box2 {

   font-family: times new roman; 
    width: 85%;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}

table.box2 p {
    font-family:times new roman; 
    font-size: 12pt;
    margin-top: 2px;
    margin-bottom: 2px;
}

h4.boxtitle {
    font-family: times new roman;
    color: orange;
    background-color: #ffc;
    padding: 4px;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
    text-align:center;
}

h4.boxtitle2 {
    font-family: times new roman;
    color: black;
    background-color: #e0e0e0;
    padding: 4px;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
}

tr.rowcolor {
	border-top: 1px solid black;
        background-color: #e0e0e0;
}
p.boxauthor {
        text-align: right;
}
