<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/OEBPS/part1.xhtml</key>
	<integer>468</integer>
	<key>/OEBPS/part2.xhtml</key>
	<integer>56534</integer>
	<key>/OEBPS/part3.xhtml</key>
	<integer>113917</integer>
	<key>/OEBPS/part4.xhtml</key>
	<integer>169344</integer>
	<key>/OEBPS/part5.xhtml</key>
	<integer>226134</integer>
	<key>/OEBPS/part6.xhtml</key>
	<integer>282253</integer>
	<key>/OEBPS/part7.xhtml</key>
	<integer>338193</integer>
	<key>/OEBPS/part8.xhtml</key>
	<integer>393870</integer>
	<key>/OEBPS/title.xhtml</key>
	<integer>0</integer>
	<key>/OEBPS/title.xhtml#coverimage</key>
	<integer>271</integer>
</dict>
</plist>
