 * { font-size: 1em; text-align: left; } 
 @page { margin: 14pt  0pt  16pt  0pt; } 
 body { margin: 0 auto; padding: 0.75em 5%; } 
 #epb-frontpage { font-size: 95%; } 
 #epb-frontpage p { margin: 0; padding: 0.3em 0.5em; text-indent: 0; text-align: left; } 
 #epb-frontpage p.donations { text-align: justify; } 
 #epb-frontpage p.donations a { text-decoration: underline; font-weight: bold; } 
 #epb-logo { margin: 1.5em 0; padding: 0; text-align: center; border: 0; } 
 #epb-logo p { margin: 0; padding: 0; font-weight: bold; text-align: center; font-size: 100%; } 
 div.chapter, div.section, div.book, div.part, div.volume, div.manuscript,  div.epigraph, div#foreword, div#preface, div#introduction, div.letter, div.note,  div.blankpage, div#dedication, div#prologue { page-break-before: always; overflow: auto; } 
 h1, h2, h3, h4, h5, h6 { text-align: center; } 
 h1 { font-size: 2em; } 
 h2 { font-size: 1.5em; } 
 h3 { font-size: 1.25em; } 


