<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/OPS/c000.xml</key>
	<integer>5457</integer>
	<key>/OPS/c000.xml#bliopage10</key>
	<integer>5754</integer>
	<key>/OPS/c001.xml</key>
	<integer>313599</integer>
	<key>/OPS/c001.xml#bliopage166</key>
	<integer>313896</integer>
	<key>/OPS/c01.xml</key>
	<integer>5802</integer>
	<key>/OPS/c01.xml#bliopage12</key>
	<integer>6100</integer>
	<key>/OPS/c01.xml#bliopage13</key>
	<integer>7278</integer>
	<key>/OPS/c01.xml#bliopage14</key>
	<integer>9360</integer>
	<key>/OPS/c01.xml#bliopage15</key>
	<integer>11407</integer>
	<key>/OPS/c01.xml#bliopage16</key>
	<integer>13460</integer>
	<key>/OPS/c01.xml#bliopage17</key>
	<integer>15507</integer>
	<key>/OPS/c01.xml#bliopage18</key>
	<integer>17706</integer>
	<key>/OPS/c01.xml#bliopage19</key>
	<integer>19914</integer>
	<key>/OPS/c01.xml#bliopage20</key>
	<integer>21998</integer>
	<key>/OPS/c01.xml#bliopage21</key>
	<integer>24165</integer>
	<key>/OPS/c01.xml#bliopage22</key>
	<integer>26279</integer>
	<key>/OPS/c01.xml#bliopage23</key>
	<integer>28295</integer>
	<key>/OPS/c01.xml#bliopage24</key>
	<integer>30395</integer>
	<key>/OPS/c01.xml#bliopage25</key>
	<integer>32467</integer>
	<key>/OPS/c01.xml#bliopage26</key>
	<integer>34581</integer>
	<key>/OPS/c01.xml#bliopage27</key>
	<integer>36681</integer>
	<key>/OPS/c01.xml#bliopage28</key>
	<integer>38815</integer>
	<key>/OPS/c01.xml#bliopage29</key>
	<integer>40970</integer>
	<key>/OPS/c01.xml#bliopage30</key>
	<integer>43116</integer>
	<key>/OPS/c01.xml#bliopage31</key>
	<integer>45290</integer>
	<key>/OPS/c01.xml#bliopage32</key>
	<integer>47471</integer>
	<key>/OPS/c01.xml#bliopage33</key>
	<integer>49606</integer>
	<key>/OPS/c01.xml#bliopage34</key>
	<integer>51661</integer>
	<key>/OPS/c01.xml#bliopage35</key>
	<integer>53724</integer>
	<key>/OPS/c01.xml#bliopage36</key>
	<integer>55615</integer>
	<key>/OPS/c01.xml#bliopage37</key>
	<integer>57607</integer>
	<key>/OPS/c01.xml#bliopage38</key>
	<integer>59551</integer>
	<key>/OPS/c01.xml#bliopage39</key>
	<integer>61659</integer>
	<key>/OPS/c01.xml#bliopage40</key>
	<integer>63815</integer>
	<key>/OPS/c02.xml</key>
	<integer>64138</integer>
	<key>/OPS/c02.xml#bliopage42</key>
	<integer>64436</integer>
	<key>/OPS/c02.xml#bliopage43</key>
	<integer>65612</integer>
	<key>/OPS/c02.xml#bliopage44</key>
	<integer>67753</integer>
	<key>/OPS/c02.xml#bliopage45</key>
	<integer>69934</integer>
	<key>/OPS/c02.xml#bliopage46</key>
	<integer>72085</integer>
	<key>/OPS/c02.xml#bliopage47</key>
	<integer>74142</integer>
	<key>/OPS/c02.xml#bliopage48</key>
	<integer>76316</integer>
	<key>/OPS/c02.xml#bliopage49</key>
	<integer>78484</integer>
	<key>/OPS/c02.xml#bliopage50</key>
	<integer>80535</integer>
	<key>/OPS/c02.xml#bliopage51</key>
	<integer>82512</integer>
	<key>/OPS/c02.xml#bliopage52</key>
	<integer>84585</integer>
	<key>/OPS/c02.xml#bliopage53</key>
	<integer>86656</integer>
	<key>/OPS/c02.xml#bliopage54</key>
	<integer>88739</integer>
	<key>/OPS/c02.xml#bliopage55</key>
	<integer>90898</integer>
	<key>/OPS/c02.xml#bliopage56</key>
	<integer>93062</integer>
	<key>/OPS/c02.xml#bliopage57</key>
	<integer>95016</integer>
	<key>/OPS/c02.xml#bliopage58</key>
	<integer>96956</integer>
	<key>/OPS/c02.xml#bliopage59</key>
	<integer>98958</integer>
	<key>/OPS/c02.xml#bliopage60</key>
	<integer>101086</integer>
	<key>/OPS/c02.xml#bliopage61</key>
	<integer>103112</integer>
	<key>/OPS/c02.xml#bliopage62</key>
	<integer>105200</integer>
	<key>/OPS/c02.xml#bliopage63</key>
	<integer>107291</integer>
	<key>/OPS/c02.xml#bliopage64</key>
	<integer>109466</integer>
	<key>/OPS/c02.xml#bliopage65</key>
	<integer>111649</integer>
	<key>/OPS/c02.xml#bliopage66</key>
	<integer>113748</integer>
	<key>/OPS/c02.xml#bliopage67</key>
	<integer>115862</integer>
	<key>/OPS/c02.xml#bliopage68</key>
	<integer>117761</integer>
	<key>/OPS/c02.xml#bliopage69</key>
	<integer>119691</integer>
	<key>/OPS/c02.xml#bliopage70</key>
	<integer>121700</integer>
	<key>/OPS/c02.xml#bliopage71</key>
	<integer>123815</integer>
	<key>/OPS/c02.xml#bliopage72</key>
	<integer>125877</integer>
	<key>/OPS/c02.xml#bliopage73</key>
	<integer>127978</integer>
	<key>/OPS/c02.xml#bliopage74</key>
	<integer>130055</integer>
	<key>/OPS/c02.xml#bliopage75</key>
	<integer>131970</integer>
	<key>/OPS/c02.xml#bliopage76</key>
	<integer>134053</integer>
	<key>/OPS/c02.xml#bliopage77</key>
	<integer>136231</integer>
	<key>/OPS/c02.xml#bliopage78</key>
	<integer>138367</integer>
	<key>/OPS/c03.xml</key>
	<integer>138869</integer>
	<key>/OPS/c03.xml#bliopage100</key>
	<integer>179084</integer>
	<key>/OPS/c03.xml#bliopage101</key>
	<integer>181213</integer>
	<key>/OPS/c03.xml#bliopage102</key>
	<integer>183359</integer>
	<key>/OPS/c03.xml#bliopage103</key>
	<integer>185454</integer>
	<key>/OPS/c03.xml#bliopage104</key>
	<integer>187525</integer>
	<key>/OPS/c03.xml#bliopage105</key>
	<integer>189575</integer>
	<key>/OPS/c03.xml#bliopage106</key>
	<integer>191679</integer>
	<key>/OPS/c03.xml#bliopage107</key>
	<integer>193831</integer>
	<key>/OPS/c03.xml#bliopage108</key>
	<integer>196000</integer>
	<key>/OPS/c03.xml#bliopage109</key>
	<integer>198016</integer>
	<key>/OPS/c03.xml#bliopage110</key>
	<integer>200060</integer>
	<key>/OPS/c03.xml#bliopage111</key>
	<integer>202121</integer>
	<key>/OPS/c03.xml#bliopage112</key>
	<integer>204345</integer>
	<key>/OPS/c03.xml#bliopage113</key>
	<integer>206242</integer>
	<key>/OPS/c03.xml#bliopage80</key>
	<integer>139167</integer>
	<key>/OPS/c03.xml#bliopage81</key>
	<integer>140340</integer>
	<key>/OPS/c03.xml#bliopage82</key>
	<integer>142427</integer>
	<key>/OPS/c03.xml#bliopage83</key>
	<integer>144458</integer>
	<key>/OPS/c03.xml#bliopage84</key>
	<integer>146410</integer>
	<key>/OPS/c03.xml#bliopage85</key>
	<integer>148428</integer>
	<key>/OPS/c03.xml#bliopage86</key>
	<integer>150503</integer>
	<key>/OPS/c03.xml#bliopage87</key>
	<integer>152553</integer>
	<key>/OPS/c03.xml#bliopage88</key>
	<integer>154574</integer>
	<key>/OPS/c03.xml#bliopage89</key>
	<integer>156513</integer>
	<key>/OPS/c03.xml#bliopage90</key>
	<integer>158623</integer>
	<key>/OPS/c03.xml#bliopage91</key>
	<integer>160699</integer>
	<key>/OPS/c03.xml#bliopage92</key>
	<integer>162800</integer>
	<key>/OPS/c03.xml#bliopage93</key>
	<integer>164883</integer>
	<key>/OPS/c03.xml#bliopage94</key>
	<integer>166863</integer>
	<key>/OPS/c03.xml#bliopage95</key>
	<integer>168915</integer>
	<key>/OPS/c03.xml#bliopage96</key>
	<integer>170964</integer>
	<key>/OPS/c03.xml#bliopage97</key>
	<integer>172904</integer>
	<key>/OPS/c03.xml#bliopage98</key>
	<integer>174799</integer>
	<key>/OPS/c03.xml#bliopage99</key>
	<integer>176875</integer>
	<key>/OPS/c04.xml</key>
	<integer>208174</integer>
	<key>/OPS/c04.xml#bliopage114</key>
	<integer>208472</integer>
	<key>/OPS/c04.xml#bliopage115</key>
	<integer>209645</integer>
	<key>/OPS/c04.xml#bliopage116</key>
	<integer>211662</integer>
	<key>/OPS/c04.xml#bliopage117</key>
	<integer>213664</integer>
	<key>/OPS/c04.xml#bliopage118</key>
	<integer>215634</integer>
	<key>/OPS/c04.xml#bliopage119</key>
	<integer>217762</integer>
	<key>/OPS/c04.xml#bliopage120</key>
	<integer>219887</integer>
	<key>/OPS/c04.xml#bliopage121</key>
	<integer>221973</integer>
	<key>/OPS/c04.xml#bliopage122</key>
	<integer>224092</integer>
	<key>/OPS/c04.xml#bliopage123</key>
	<integer>226205</integer>
	<key>/OPS/c04.xml#bliopage124</key>
	<integer>228378</integer>
	<key>/OPS/c04.xml#bliopage125</key>
	<integer>230349</integer>
	<key>/OPS/c04.xml#bliopage126</key>
	<integer>232371</integer>
	<key>/OPS/c04.xml#bliopage127</key>
	<integer>234464</integer>
	<key>/OPS/c04.xml#bliopage128</key>
	<integer>236616</integer>
	<key>/OPS/c04.xml#bliopage129</key>
	<integer>238695</integer>
	<key>/OPS/c04.xml#bliopage130</key>
	<integer>240640</integer>
	<key>/OPS/c04.xml#bliopage131</key>
	<integer>242664</integer>
	<key>/OPS/c04.xml#bliopage132</key>
	<integer>244628</integer>
	<key>/OPS/c04.xml#bliopage133</key>
	<integer>246677</integer>
	<key>/OPS/c04.xml#bliopage134</key>
	<integer>248684</integer>
	<key>/OPS/c04.xml#bliopage135</key>
	<integer>250840</integer>
	<key>/OPS/c04.xml#bliopage136</key>
	<integer>252992</integer>
	<key>/OPS/c04.xml#bliopage137</key>
	<integer>255171</integer>
	<key>/OPS/c04.xml#bliopage138</key>
	<integer>257329</integer>
	<key>/OPS/c04.xml#bliopage139</key>
	<integer>259513</integer>
	<key>/OPS/c04.xml#bliopage140</key>
	<integer>261682</integer>
	<key>/OPS/c04.xml#bliopage141</key>
	<integer>263862</integer>
	<key>/OPS/c04.xml#bliopage142</key>
	<integer>265961</integer>
	<key>/OPS/c04.xml#bliopage143</key>
	<integer>268069</integer>
	<key>/OPS/c04.xml#bliopage144</key>
	<integer>270255</integer>
	<key>/OPS/c04.xml#bliopage145</key>
	<integer>272385</integer>
	<key>/OPS/c05.xml</key>
	<integer>274057</integer>
	<key>/OPS/c05.xml#bliopage146</key>
	<integer>274355</integer>
	<key>/OPS/c05.xml#bliopage147</key>
	<integer>275541</integer>
	<key>/OPS/c05.xml#bliopage148</key>
	<integer>277642</integer>
	<key>/OPS/c05.xml#bliopage149</key>
	<integer>279751</integer>
	<key>/OPS/c05.xml#bliopage150</key>
	<integer>281878</integer>
	<key>/OPS/c05.xml#bliopage151</key>
	<integer>284022</integer>
	<key>/OPS/c05.xml#bliopage152</key>
	<integer>286146</integer>
	<key>/OPS/c05.xml#bliopage153</key>
	<integer>288310</integer>
	<key>/OPS/c05.xml#bliopage154</key>
	<integer>290414</integer>
	<key>/OPS/c05.xml#bliopage155</key>
	<integer>292539</integer>
	<key>/OPS/c05.xml#bliopage156</key>
	<integer>294717</integer>
	<key>/OPS/c05.xml#bliopage157</key>
	<integer>296864</integer>
	<key>/OPS/c05.xml#bliopage158</key>
	<integer>298922</integer>
	<key>/OPS/c05.xml#bliopage159</key>
	<integer>300960</integer>
	<key>/OPS/c05.xml#bliopage160</key>
	<integer>302913</integer>
	<key>/OPS/c05.xml#bliopage161</key>
	<integer>304813</integer>
	<key>/OPS/c05.xml#bliopage162</key>
	<integer>306831</integer>
	<key>/OPS/c05.xml#bliopage163</key>
	<integer>308949</integer>
	<key>/OPS/c05.xml#bliopage164</key>
	<integer>311019</integer>
	<key>/OPS/c05.xml#bliopage165</key>
	<integer>313130</integer>
	<key>/OPS/c06.xml</key>
	<integer>313946</integer>
	<key>/OPS/c06.xml#bliopage168</key>
	<integer>314244</integer>
	<key>/OPS/c06.xml#bliopage169</key>
	<integer>315403</integer>
	<key>/OPS/c06.xml#bliopage170</key>
	<integer>317522</integer>
	<key>/OPS/c06.xml#bliopage171</key>
	<integer>319699</integer>
	<key>/OPS/c06.xml#bliopage172</key>
	<integer>321784</integer>
	<key>/OPS/c06.xml#bliopage173</key>
	<integer>323956</integer>
	<key>/OPS/c06.xml#bliopage174</key>
	<integer>326071</integer>
	<key>/OPS/c06.xml#bliopage175</key>
	<integer>328140</integer>
	<key>/OPS/c06.xml#bliopage176</key>
	<integer>330296</integer>
	<key>/OPS/c06.xml#bliopage177</key>
	<integer>332438</integer>
	<key>/OPS/c06.xml#bliopage178</key>
	<integer>334607</integer>
	<key>/OPS/c06.xml#bliopage179</key>
	<integer>336782</integer>
	<key>/OPS/c06.xml#bliopage180</key>
	<integer>338970</integer>
	<key>/OPS/c06.xml#bliopage181</key>
	<integer>341092</integer>
	<key>/OPS/c06.xml#bliopage182</key>
	<integer>343148</integer>
	<key>/OPS/c06.xml#bliopage183</key>
	<integer>345272</integer>
	<key>/OPS/c06.xml#bliopage184</key>
	<integer>347312</integer>
	<key>/OPS/c06.xml#bliopage185</key>
	<integer>349359</integer>
	<key>/OPS/c06.xml#bliopage186</key>
	<integer>351465</integer>
	<key>/OPS/c06.xml#bliopage187</key>
	<integer>353490</integer>
	<key>/OPS/c06.xml#bliopage188</key>
	<integer>355705</integer>
	<key>/OPS/c06.xml#bliopage189</key>
	<integer>357883</integer>
	<key>/OPS/c06.xml#bliopage190</key>
	<integer>359835</integer>
	<key>/OPS/c06.xml#bliopage191</key>
	<integer>361809</integer>
	<key>/OPS/c06.xml#bliopage192</key>
	<integer>363892</integer>
	<key>/OPS/c06.xml#bliopage193</key>
	<integer>365980</integer>
	<key>/OPS/c06.xml#bliopage194</key>
	<integer>368001</integer>
	<key>/OPS/c06.xml#bliopage195</key>
	<integer>370147</integer>
	<key>/OPS/c07.xml</key>
	<integer>371608</integer>
	<key>/OPS/c07.xml#bliopage196</key>
	<integer>371906</integer>
	<key>/OPS/c07.xml#bliopage197</key>
	<integer>373075</integer>
	<key>/OPS/c07.xml#bliopage198</key>
	<integer>375085</integer>
	<key>/OPS/c07.xml#bliopage199</key>
	<integer>377176</integer>
	<key>/OPS/c07.xml#bliopage200</key>
	<integer>379189</integer>
	<key>/OPS/c07.xml#bliopage201</key>
	<integer>381375</integer>
	<key>/OPS/c07.xml#bliopage202</key>
	<integer>383551</integer>
	<key>/OPS/c07.xml#bliopage203</key>
	<integer>385501</integer>
	<key>/OPS/c07.xml#bliopage204</key>
	<integer>387588</integer>
	<key>/OPS/c07.xml#bliopage205</key>
	<integer>389697</integer>
	<key>/OPS/c07.xml#bliopage206</key>
	<integer>391830</integer>
	<key>/OPS/c07.xml#bliopage207</key>
	<integer>393897</integer>
	<key>/OPS/c07.xml#bliopage208</key>
	<integer>395892</integer>
	<key>/OPS/c07.xml#bliopage209</key>
	<integer>397993</integer>
	<key>/OPS/c07.xml#bliopage210</key>
	<integer>399940</integer>
	<key>/OPS/c07.xml#bliopage211</key>
	<integer>402026</integer>
	<key>/OPS/c07.xml#bliopage212</key>
	<integer>404110</integer>
	<key>/OPS/c07.xml#bliopage213</key>
	<integer>406249</integer>
	<key>/OPS/c07.xml#bliopage214</key>
	<integer>408284</integer>
	<key>/OPS/c07.xml#bliopage215</key>
	<integer>410400</integer>
	<key>/OPS/c07.xml#bliopage216</key>
	<integer>412405</integer>
	<key>/OPS/c07.xml#bliopage217</key>
	<integer>414520</integer>
	<key>/OPS/c07.xml#bliopage218</key>
	<integer>416593</integer>
	<key>/OPS/c07.xml#bliopage219</key>
	<integer>418719</integer>
	<key>/OPS/c07.xml#bliopage220</key>
	<integer>420921</integer>
	<key>/OPS/c07.xml#bliopage221</key>
	<integer>423127</integer>
	<key>/OPS/c07.xml#bliopage222</key>
	<integer>425123</integer>
	<key>/OPS/c07.xml#bliopage223</key>
	<integer>427158</integer>
	<key>/OPS/c07.xml#bliopage224</key>
	<integer>429155</integer>
	<key>/OPS/c07.xml#bliopage225</key>
	<integer>430991</integer>
	<key>/OPS/c07.xml#bliopage226</key>
	<integer>433101</integer>
	<key>/OPS/c07.xml#bliopage227</key>
	<integer>435032</integer>
	<key>/OPS/c07.xml#bliopage228</key>
	<integer>437063</integer>
	<key>/OPS/c07.xml#bliopage229</key>
	<integer>439152</integer>
	<key>/OPS/c07.xml#bliopage230</key>
	<integer>441309</integer>
	<key>/OPS/c07.xml#bliopage231</key>
	<integer>443386</integer>
	<key>/OPS/c07.xml#bliopage232</key>
	<integer>445418</integer>
	<key>/OPS/c07.xml#bliopage233</key>
	<integer>447464</integer>
	<key>/OPS/c07.xml#bliopage234</key>
	<integer>449548</integer>
	<key>/OPS/c07.xml#bliopage235</key>
	<integer>451386</integer>
	<key>/OPS/c07.xml#bliopage236</key>
	<integer>453486</integer>
	<key>/OPS/c07.xml#bliopage237</key>
	<integer>455549</integer>
	<key>/OPS/c07.xml#bliopage238</key>
	<integer>457624</integer>
	<key>/OPS/c07.xml#bliopage239</key>
	<integer>459781</integer>
	<key>/OPS/c07.xml#bliopage240</key>
	<integer>461986</integer>
	<key>/OPS/c08.xml</key>
	<integer>462494</integer>
	<key>/OPS/c08.xml#bliopage242</key>
	<integer>462792</integer>
	<key>/OPS/c08.xml#bliopage243</key>
	<integer>463940</integer>
	<key>/OPS/c08.xml#bliopage244</key>
	<integer>466092</integer>
	<key>/OPS/c08.xml#bliopage245</key>
	<integer>468178</integer>
	<key>/OPS/c08.xml#bliopage246</key>
	<integer>470330</integer>
	<key>/OPS/c08.xml#bliopage247</key>
	<integer>472471</integer>
	<key>/OPS/c08.xml#bliopage248</key>
	<integer>474468</integer>
	<key>/OPS/c08.xml#bliopage249</key>
	<integer>476456</integer>
	<key>/OPS/c08.xml#bliopage250</key>
	<integer>478499</integer>
	<key>/OPS/c08.xml#bliopage251</key>
	<integer>480473</integer>
	<key>/OPS/c08.xml#bliopage252</key>
	<integer>482549</integer>
	<key>/OPS/c08.xml#bliopage253</key>
	<integer>484599</integer>
	<key>/OPS/c08.xml#bliopage254</key>
	<integer>486729</integer>
	<key>/OPS/c08.xml#bliopage255</key>
	<integer>488772</integer>
	<key>/OPS/c08.xml#bliopage256</key>
	<integer>490964</integer>
	<key>/OPS/c08.xml#bliopage257</key>
	<integer>493076</integer>
	<key>/OPS/c08.xml#bliopage258</key>
	<integer>495159</integer>
	<key>/OPS/c08.xml#bliopage259</key>
	<integer>497312</integer>
	<key>/OPS/c08.xml#bliopage260</key>
	<integer>499478</integer>
	<key>/OPS/c09.xml</key>
	<integer>501193</integer>
	<key>/OPS/c09.xml#bliopage262</key>
	<integer>501491</integer>
	<key>/OPS/c09.xml#bliopage263</key>
	<integer>502690</integer>
	<key>/OPS/c09.xml#bliopage264</key>
	<integer>504884</integer>
	<key>/OPS/c09.xml#bliopage265</key>
	<integer>507032</integer>
	<key>/OPS/c09.xml#bliopage266</key>
	<integer>508983</integer>
	<key>/OPS/c09.xml#bliopage267</key>
	<integer>511168</integer>
	<key>/OPS/c09.xml#bliopage268</key>
	<integer>513299</integer>
	<key>/OPS/c09.xml#bliopage269</key>
	<integer>515332</integer>
	<key>/OPS/c09.xml#bliopage270</key>
	<integer>517381</integer>
	<key>/OPS/c09.xml#bliopage271</key>
	<integer>519487</integer>
	<key>/OPS/c09.xml#bliopage272</key>
	<integer>521633</integer>
	<key>/OPS/c09.xml#bliopage273</key>
	<integer>523818</integer>
	<key>/OPS/c09.xml#bliopage274</key>
	<integer>525815</integer>
	<key>/OPS/c09.xml#bliopage275</key>
	<integer>527984</integer>
	<key>/OPS/c09.xml#bliopage276</key>
	<integer>530082</integer>
	<key>/OPS/c10.xml</key>
	<integer>530507</integer>
	<key>/OPS/c10.xml#bliopage271</key>
	<integer>533910</integer>
	<key>/OPS/c10.xml#bliopage278</key>
	<integer>530805</integer>
	<key>/OPS/c10.xml#bliopage279</key>
	<integer>531967</integer>
	<key>/OPS/c10.xml#bliopage281</key>
	<integer>535765</integer>
	<key>/OPS/c10.xml#bliopage282</key>
	<integer>537895</integer>
	<key>/OPS/c10.xml#bliopage283</key>
	<integer>539998</integer>
	<key>/OPS/c10.xml#bliopage284</key>
	<integer>542155</integer>
	<key>/OPS/c10.xml#bliopage285</key>
	<integer>544327</integer>
	<key>/OPS/c10.xml#bliopage286</key>
	<integer>546465</integer>
	<key>/OPS/c10.xml#bliopage287</key>
	<integer>548671</integer>
	<key>/OPS/c10.xml#bliopage288</key>
	<integer>550883</integer>
	<key>/OPS/cover.xml</key>
	<integer>0</integer>
	<key>/OPS/cover.xml#bliopage1</key>
	<integer>405</integer>
	<key>/OPS/cover.xml#coverimage</key>
	<integer>341</integer>
	<key>/OPS/front.xml</key>
	<integer>942</integer>
	<key>/OPS/front.xml#bliopage4</key>
	<integer>1307</integer>
	<key>/OPS/front.xml#bliopage7</key>
	<integer>3799</integer>
	<key>/OPS/front.xml#bliopage8</key>
	<integer>5183</integer>
	<key>/OPS/titlepage.xml</key>
	<integer>551</integer>
	<key>/OPS/titlepage.xml#bliopage6</key>
	<integer>845</integer>
</dict>
</plist>
