<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/OPS/001-coverpage.html</key>
	<integer>0</integer>
	<key>/OPS/001-coverpage.html#coverpage</key>
	<integer>355</integer>
	<key>/OPS/002-titlepage.html</key>
	<integer>509</integer>
	<key>/OPS/002-titlepage.html#pageiii</key>
	<integer>863</integer>
	<key>/OPS/002-titlepage.html#titlepage</key>
	<integer>813</integer>
	<key>/OPS/003-copyright.html</key>
	<integer>1084</integer>
	<key>/OPS/003-copyright.html#copyright</key>
	<integer>1388</integer>
	<key>/OPS/004-excerpt.html</key>
	<integer>2396</integer>
	<key>/OPS/004-excerpt.html#pagei</key>
	<integer>2718</integer>
	<key>/OPS/004-excerpt.html#pageii</key>
	<integer>3782</integer>
	<key>/OPS/005-castofcharacters.html</key>
	<integer>5006</integer>
	<key>/OPS/005-castofcharacters.html#image1</key>
	<integer>5417</integer>
	<key>/OPS/005-castofcharacters.html#image2</key>
	<integer>5637</integer>
	<key>/OPS/005-castofcharacters.html#image3</key>
	<integer>5861</integer>
	<key>/OPS/005-castofcharacters.html#image4</key>
	<integer>6134</integer>
	<key>/OPS/005-castofcharacters.html#image5</key>
	<integer>6358</integer>
	<key>/OPS/005-castofcharacters.html#image6</key>
	<integer>6600</integer>
	<key>/OPS/005-castofcharacters.html#pagevi</key>
	<integer>5370</integer>
	<key>/OPS/005-castofcharacters.html#pagevii</key>
	<integer>6093</integer>
	<key>/OPS/006-map.html</key>
	<integer>6889</integer>
	<key>/OPS/006-map.html#image7</key>
	<integer>7234</integer>
	<key>/OPS/006-map.html#image8</key>
	<integer>7356</integer>
	<key>/OPS/006-map.html#pageix</key>
	<integer>7390</integer>
	<key>/OPS/006-map.html#pageviii</key>
	<integer>7268</integer>
	<key>/OPS/007-dearreader.html</key>
	<integer>7521</integer>
	<key>/OPS/007-dearreader.html#pagexi</key>
	<integer>7829</integer>
	<key>/OPS/008-toc.html</key>
	<integer>9190</integer>
	<key>/OPS/008-toc.html#TOC</key>
	<integer>9494</integer>
	<key>/OPS/008-toc.html#aba</key>
	<integer>11427</integer>
	<key>/OPS/008-toc.html#ack</key>
	<integer>11338</integer>
	<key>/OPS/008-toc.html#ch1</key>
	<integer>10058</integer>
	<key>/OPS/008-toc.html#ch10</key>
	<integer>10890</integer>
	<key>/OPS/008-toc.html#ch11</key>
	<integer>10976</integer>
	<key>/OPS/008-toc.html#ch12</key>
	<integer>11074</integer>
	<key>/OPS/008-toc.html#ch13</key>
	<integer>11168</integer>
	<key>/OPS/008-toc.html#ch2</key>
	<integer>10151</integer>
	<key>/OPS/008-toc.html#ch3</key>
	<integer>10239</integer>
	<key>/OPS/008-toc.html#ch4</key>
	<integer>10334</integer>
	<key>/OPS/008-toc.html#ch5</key>
	<integer>10429</integer>
	<key>/OPS/008-toc.html#ch6</key>
	<integer>10518</integer>
	<key>/OPS/008-toc.html#ch7</key>
	<integer>10609</integer>
	<key>/OPS/008-toc.html#ch8</key>
	<integer>10703</integer>
	<key>/OPS/008-toc.html#ch9</key>
	<integer>10789</integer>
	<key>/OPS/008-toc.html#copyright</key>
	<integer>9687</integer>
	<key>/OPS/008-toc.html#excerpt</key>
	<integer>9770</integer>
	<key>/OPS/008-toc.html#factfile</key>
	<integer>11257</integer>
	<key>/OPS/008-toc.html#praise</key>
	<integer>11521</integer>
	<key>/OPS/009-chapter1.html</key>
	<integer>11642</integer>
	<key>/OPS/009-chapter1.html#chapter1</key>
	<integer>11946</integer>
	<key>/OPS/009-chapter1.html#image10</key>
	<integer>21413</integer>
	<key>/OPS/009-chapter1.html#image9</key>
	<integer>13093</integer>
	<key>/OPS/009-chapter1.html#page1</key>
	<integer>11993</integer>
	<key>/OPS/009-chapter1.html#page10</key>
	<integer>20761</integer>
	<key>/OPS/009-chapter1.html#page11</key>
	<integer>21516</integer>
	<key>/OPS/009-chapter1.html#page2</key>
	<integer>12662</integer>
	<key>/OPS/009-chapter1.html#page3</key>
	<integer>13193</integer>
	<key>/OPS/009-chapter1.html#page4</key>
	<integer>14370</integer>
	<key>/OPS/009-chapter1.html#page5</key>
	<integer>15460</integer>
	<key>/OPS/009-chapter1.html#page6</key>
	<integer>16467</integer>
	<key>/OPS/009-chapter1.html#page7</key>
	<integer>17528</integer>
	<key>/OPS/009-chapter1.html#page8</key>
	<integer>18560</integer>
	<key>/OPS/009-chapter1.html#page9</key>
	<integer>19607</integer>
	<key>/OPS/010-chapter2.html</key>
	<integer>21943</integer>
	<key>/OPS/010-chapter2.html#chapter2</key>
	<integer>22247</integer>
	<key>/OPS/010-chapter2.html#image11</key>
	<integer>23084</integer>
	<key>/OPS/010-chapter2.html#image12</key>
	<integer>31680</integer>
	<key>/OPS/010-chapter2.html#page12</key>
	<integer>22294</integer>
	<key>/OPS/010-chapter2.html#page13</key>
	<integer>23114</integer>
	<key>/OPS/010-chapter2.html#page14</key>
	<integer>23617</integer>
	<key>/OPS/010-chapter2.html#page15</key>
	<integer>24712</integer>
	<key>/OPS/010-chapter2.html#page16</key>
	<integer>25841</integer>
	<key>/OPS/010-chapter2.html#page17</key>
	<integer>27154</integer>
	<key>/OPS/010-chapter2.html#page18</key>
	<integer>28310</integer>
	<key>/OPS/010-chapter2.html#page19</key>
	<integer>29420</integer>
	<key>/OPS/010-chapter2.html#page20</key>
	<integer>30506</integer>
	<key>/OPS/010-chapter2.html#page21</key>
	<integer>31569</integer>
	<key>/OPS/011-chapter3.html</key>
	<integer>31810</integer>
	<key>/OPS/011-chapter3.html#chapter3</key>
	<integer>32114</integer>
	<key>/OPS/011-chapter3.html#image13</key>
	<integer>33107</integer>
	<key>/OPS/011-chapter3.html#image14</key>
	<integer>36847</integer>
	<key>/OPS/011-chapter3.html#page22</key>
	<integer>32161</integer>
	<key>/OPS/011-chapter3.html#page23</key>
	<integer>32811</integer>
	<key>/OPS/011-chapter3.html#page24</key>
	<integer>33208</integer>
	<key>/OPS/011-chapter3.html#page25</key>
	<integer>34171</integer>
	<key>/OPS/011-chapter3.html#page26</key>
	<integer>35306</integer>
	<key>/OPS/011-chapter3.html#page27</key>
	<integer>36404</integer>
	<key>/OPS/011-chapter3.html#page28</key>
	<integer>36948</integer>
	<key>/OPS/011-chapter3.html#page29</key>
	<integer>38144</integer>
	<key>/OPS/011-chapter3.html#page30</key>
	<integer>39103</integer>
	<key>/OPS/011-chapter3.html#page31</key>
	<integer>40221</integer>
	<key>/OPS/012-chapter4.html</key>
	<integer>41261</integer>
	<key>/OPS/012-chapter4.html#chapter4</key>
	<integer>41565</integer>
	<key>/OPS/012-chapter4.html#image15</key>
	<integer>42220</integer>
	<key>/OPS/012-chapter4.html#image16</key>
	<integer>47551</integer>
	<key>/OPS/012-chapter4.html#page32</key>
	<integer>41612</integer>
	<key>/OPS/012-chapter4.html#page33</key>
	<integer>42250</integer>
	<key>/OPS/012-chapter4.html#page34</key>
	<integer>42340</integer>
	<key>/OPS/012-chapter4.html#page35</key>
	<integer>43333</integer>
	<key>/OPS/012-chapter4.html#page36</key>
	<integer>44290</integer>
	<key>/OPS/012-chapter4.html#page37</key>
	<integer>45377</integer>
	<key>/OPS/012-chapter4.html#page38</key>
	<integer>46434</integer>
	<key>/OPS/012-chapter4.html#page39</key>
	<integer>47581</integer>
	<key>/OPS/012-chapter4.html#page40</key>
	<integer>48095</integer>
	<key>/OPS/013-chapter5.html</key>
	<integer>48861</integer>
	<key>/OPS/013-chapter5.html#chapter5</key>
	<integer>49165</integer>
	<key>/OPS/013-chapter5.html#image17</key>
	<integer>53332</integer>
	<key>/OPS/013-chapter5.html#image18</key>
	<integer>57452</integer>
	<key>/OPS/013-chapter5.html#page41</key>
	<integer>49212</integer>
	<key>/OPS/013-chapter5.html#page42</key>
	<integer>49930</integer>
	<key>/OPS/013-chapter5.html#page43</key>
	<integer>51069</integer>
	<key>/OPS/013-chapter5.html#page44</key>
	<integer>52234</integer>
	<key>/OPS/013-chapter5.html#page45</key>
	<integer>53362</integer>
	<key>/OPS/013-chapter5.html#page46</key>
	<integer>53920</integer>
	<key>/OPS/013-chapter5.html#page47</key>
	<integer>54941</integer>
	<key>/OPS/013-chapter5.html#page48</key>
	<integer>55951</integer>
	<key>/OPS/013-chapter5.html#page49</key>
	<integer>56942</integer>
	<key>/OPS/013-chapter5.html#page50</key>
	<integer>57555</integer>
	<key>/OPS/014-chapter6.html</key>
	<integer>58331</integer>
	<key>/OPS/014-chapter6.html#chapter6</key>
	<integer>58635</integer>
	<key>/OPS/014-chapter6.html#page51</key>
	<integer>58682</integer>
	<key>/OPS/014-chapter6.html#page52</key>
	<integer>59298</integer>
	<key>/OPS/014-chapter6.html#page53</key>
	<integer>60305</integer>
	<key>/OPS/014-chapter6.html#page54</key>
	<integer>61165</integer>
	<key>/OPS/014-chapter6.html#page55</key>
	<integer>62167</integer>
	<key>/OPS/014-chapter6.html#page56</key>
	<integer>63282</integer>
	<key>/OPS/014-chapter6.html#page57</key>
	<integer>64448</integer>
	<key>/OPS/014-chapter6.html#page58</key>
	<integer>65672</integer>
	<key>/OPS/014-chapter6.html#page59</key>
	<integer>66823</integer>
	<key>/OPS/015-chapter7.html</key>
	<integer>67578</integer>
	<key>/OPS/015-chapter7.html#chapter7</key>
	<integer>67882</integer>
	<key>/OPS/015-chapter7.html#image19</key>
	<integer>71651</integer>
	<key>/OPS/015-chapter7.html#image20</key>
	<integer>74494</integer>
	<key>/OPS/015-chapter7.html#page60</key>
	<integer>67929</integer>
	<key>/OPS/015-chapter7.html#page61</key>
	<integer>68588</integer>
	<key>/OPS/015-chapter7.html#page62</key>
	<integer>69617</integer>
	<key>/OPS/015-chapter7.html#page63</key>
	<integer>70631</integer>
	<key>/OPS/015-chapter7.html#page64</key>
	<integer>71681</integer>
	<key>/OPS/015-chapter7.html#page65</key>
	<integer>72261</integer>
	<key>/OPS/015-chapter7.html#page66</key>
	<integer>73329</integer>
	<key>/OPS/015-chapter7.html#page67</key>
	<integer>74399</integer>
	<key>/OPS/016-chapter8.html</key>
	<integer>74624</integer>
	<key>/OPS/016-chapter8.html#chapter8</key>
	<integer>74928</integer>
	<key>/OPS/016-chapter8.html#image21</key>
	<integer>75573</integer>
	<key>/OPS/016-chapter8.html#page68</key>
	<integer>74975</integer>
	<key>/OPS/016-chapter8.html#page69</key>
	<integer>75603</integer>
	<key>/OPS/016-chapter8.html#page70</key>
	<integer>76184</integer>
	<key>/OPS/016-chapter8.html#page71</key>
	<integer>77323</integer>
	<key>/OPS/016-chapter8.html#page72</key>
	<integer>78210</integer>
	<key>/OPS/016-chapter8.html#page73</key>
	<integer>79314</integer>
	<key>/OPS/016-chapter8.html#page74</key>
	<integer>80342</integer>
	<key>/OPS/016-chapter8.html#page75</key>
	<integer>81418</integer>
	<key>/OPS/016-chapter8.html#page76</key>
	<integer>82514</integer>
	<key>/OPS/016-chapter8.html#page77</key>
	<integer>83483</integer>
	<key>/OPS/017-chapter9.html</key>
	<integer>84309</integer>
	<key>/OPS/017-chapter9.html#chapter9</key>
	<integer>84613</integer>
	<key>/OPS/017-chapter9.html#image22</key>
	<integer>87405</integer>
	<key>/OPS/017-chapter9.html#image23</key>
	<integer>91516</integer>
	<key>/OPS/017-chapter9.html#image24</key>
	<integer>94072</integer>
	<key>/OPS/017-chapter9.html#page78</key>
	<integer>84660</integer>
	<key>/OPS/017-chapter9.html#page79</key>
	<integer>85254</integer>
	<key>/OPS/017-chapter9.html#page80</key>
	<integer>86419</integer>
	<key>/OPS/017-chapter9.html#page81</key>
	<integer>87435</integer>
	<key>/OPS/017-chapter9.html#page82</key>
	<integer>87902</integer>
	<key>/OPS/017-chapter9.html#page83</key>
	<integer>88872</integer>
	<key>/OPS/017-chapter9.html#page84</key>
	<integer>90045</integer>
	<key>/OPS/017-chapter9.html#page85</key>
	<integer>91012</integer>
	<key>/OPS/017-chapter9.html#page86</key>
	<integer>91619</integer>
	<key>/OPS/017-chapter9.html#page87</key>
	<integer>92720</integer>
	<key>/OPS/017-chapter9.html#page88</key>
	<integer>93655</integer>
	<key>/OPS/018-chapter10.html</key>
	<integer>94202</integer>
	<key>/OPS/018-chapter10.html#chapter10</key>
	<integer>94506</integer>
	<key>/OPS/018-chapter10.html#image25</key>
	<integer>95210</integer>
	<key>/OPS/018-chapter10.html#image26</key>
	<integer>100005</integer>
	<key>/OPS/018-chapter10.html#page89</key>
	<integer>94554</integer>
	<key>/OPS/018-chapter10.html#page90</key>
	<integer>95240</integer>
	<key>/OPS/018-chapter10.html#page91</key>
	<integer>95722</integer>
	<key>/OPS/018-chapter10.html#page92</key>
	<integer>96770</integer>
	<key>/OPS/018-chapter10.html#page93</key>
	<integer>97831</integer>
	<key>/OPS/018-chapter10.html#page94</key>
	<integer>98901</integer>
	<key>/OPS/018-chapter10.html#page95</key>
	<integer>100035</integer>
	<key>/OPS/018-chapter10.html#page96</key>
	<integer>100623</integer>
	<key>/OPS/018-chapter10.html#page97</key>
	<integer>101617</integer>
	<key>/OPS/018-chapter10.html#page98</key>
	<integer>102756</integer>
	<key>/OPS/018-chapter10.html#page99</key>
	<integer>103894</integer>
	<key>/OPS/019-chapter11.html</key>
	<integer>104079</integer>
	<key>/OPS/019-chapter11.html#chapter11</key>
	<integer>104383</integer>
	<key>/OPS/019-chapter11.html#image27</key>
	<integer>112225</integer>
	<key>/OPS/019-chapter11.html#image28</key>
	<integer>112637</integer>
	<key>/OPS/019-chapter11.html#page100</key>
	<integer>104431</integer>
	<key>/OPS/019-chapter11.html#page101</key>
	<integer>105184</integer>
	<key>/OPS/019-chapter11.html#page102</key>
	<integer>106236</integer>
	<key>/OPS/019-chapter11.html#page103</key>
	<integer>107263</integer>
	<key>/OPS/019-chapter11.html#page104</key>
	<integer>108302</integer>
	<key>/OPS/019-chapter11.html#page105</key>
	<integer>109537</integer>
	<key>/OPS/019-chapter11.html#page106</key>
	<integer>110701</integer>
	<key>/OPS/019-chapter11.html#page107</key>
	<integer>111734</integer>
	<key>/OPS/019-chapter11.html#page108</key>
	<integer>112326</integer>
	<key>/OPS/020-chapter12.html</key>
	<integer>112767</integer>
	<key>/OPS/020-chapter12.html#chapter12</key>
	<integer>113071</integer>
	<key>/OPS/020-chapter12.html#image29</key>
	<integer>115296</integer>
	<key>/OPS/020-chapter12.html#image30</key>
	<integer>118812</integer>
	<key>/OPS/020-chapter12.html#page109</key>
	<integer>113119</integer>
	<key>/OPS/020-chapter12.html#page110</key>
	<integer>113758</integer>
	<key>/OPS/020-chapter12.html#page111</key>
	<integer>114788</integer>
	<key>/OPS/020-chapter12.html#page112</key>
	<integer>115399</integer>
	<key>/OPS/020-chapter12.html#page113</key>
	<integer>116372</integer>
	<key>/OPS/020-chapter12.html#page114</key>
	<integer>117380</integer>
	<key>/OPS/020-chapter12.html#page115</key>
	<integer>118401</integer>
	<key>/OPS/020-chapter12.html#page116</key>
	<integer>118913</integer>
	<key>/OPS/020-chapter12.html#page117</key>
	<integer>119924</integer>
	<key>/OPS/020-chapter12.html#page118</key>
	<integer>121000</integer>
	<key>/OPS/021-chapter13.html</key>
	<integer>122044</integer>
	<key>/OPS/021-chapter13.html#chapter13</key>
	<integer>122348</integer>
	<key>/OPS/021-chapter13.html#image31</key>
	<integer>125105</integer>
	<key>/OPS/021-chapter13.html#image32</key>
	<integer>128157</integer>
	<key>/OPS/021-chapter13.html#image33</key>
	<integer>132083</integer>
	<key>/OPS/021-chapter13.html#page119</key>
	<integer>122396</integer>
	<key>/OPS/021-chapter13.html#page120</key>
	<integer>123103</integer>
	<key>/OPS/021-chapter13.html#page121</key>
	<integer>124196</integer>
	<key>/OPS/021-chapter13.html#page122</key>
	<integer>125135</integer>
	<key>/OPS/021-chapter13.html#page123</key>
	<integer>125226</integer>
	<key>/OPS/021-chapter13.html#page124</key>
	<integer>126181</integer>
	<key>/OPS/021-chapter13.html#page125</key>
	<integer>127166</integer>
	<key>/OPS/021-chapter13.html#page126</key>
	<integer>128187</integer>
	<key>/OPS/021-chapter13.html#page127</key>
	<integer>128786</integer>
	<key>/OPS/021-chapter13.html#page128</key>
	<integer>129852</integer>
	<key>/OPS/021-chapter13.html#page129</key>
	<integer>131004</integer>
	<key>/OPS/021-chapter13.html#page130</key>
	<integer>131942</integer>
	<key>/OPS/022-factfile.html</key>
	<integer>132213</integer>
	<key>/OPS/024-acknowledgments.html</key>
	<integer>138320</integer>
	<key>/OPS/024-acknowledgments.html#pageiv</key>
	<integer>138699</integer>
	<key>/OPS/025-abouttheauthor.html</key>
	<integer>138904</integer>
	<key>/OPS/025-abouttheauthor.html#pagex</key>
	<integer>139212</integer>
	<key>/OPS/026-praise.html</key>
	<integer>140428</integer>
	<key>/OPS/026-praise.html#pagev</key>
	<integer>140826</integer>
	<key>/OPS/026-praise.html#praise</key>
	<integer>140732</integer>
</dict>
</plist>
