<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/OPS/back.xml</key>
	<integer>284843</integer>
	<key>/OPS/c01.xml</key>
	<integer>5037</integer>
	<key>/OPS/c01.xml#bliopage10</key>
	<integer>5335</integer>
	<key>/OPS/c01.xml#bliopage11</key>
	<integer>6476</integer>
	<key>/OPS/c01.xml#bliopage12</key>
	<integer>8006</integer>
	<key>/OPS/c01.xml#bliopage13</key>
	<integer>9604</integer>
	<key>/OPS/c01.xml#bliopage14</key>
	<integer>11144</integer>
	<key>/OPS/c01.xml#bliopage15</key>
	<integer>12756</integer>
	<key>/OPS/c01.xml#bliopage16</key>
	<integer>14363</integer>
	<key>/OPS/c01.xml#bliopage17</key>
	<integer>16009</integer>
	<key>/OPS/c01.xml#bliopage18</key>
	<integer>17519</integer>
	<key>/OPS/c01.xml#bliopage19</key>
	<integer>18946</integer>
	<key>/OPS/c02.xml</key>
	<integer>19536</integer>
	<key>/OPS/c02.xml#bliopage20</key>
	<integer>19834</integer>
	<key>/OPS/c02.xml#bliopage21</key>
	<integer>20974</integer>
	<key>/OPS/c02.xml#bliopage22</key>
	<integer>22611</integer>
	<key>/OPS/c02.xml#bliopage23</key>
	<integer>24102</integer>
	<key>/OPS/c02.xml#bliopage24</key>
	<integer>25642</integer>
	<key>/OPS/c02.xml#bliopage25</key>
	<integer>27122</integer>
	<key>/OPS/c02.xml#bliopage26</key>
	<integer>28659</integer>
	<key>/OPS/c02.xml#bliopage27</key>
	<integer>30269</integer>
	<key>/OPS/c03.xml</key>
	<integer>31620</integer>
	<key>/OPS/c03.xml#bliopage28</key>
	<integer>31918</integer>
	<key>/OPS/c03.xml#bliopage29</key>
	<integer>33136</integer>
	<key>/OPS/c03.xml#bliopage30</key>
	<integer>34723</integer>
	<key>/OPS/c03.xml#bliopage31</key>
	<integer>36240</integer>
	<key>/OPS/c03.xml#bliopage32</key>
	<integer>37807</integer>
	<key>/OPS/c03.xml#bliopage33</key>
	<integer>39412</integer>
	<key>/OPS/c03.xml#bliopage34</key>
	<integer>40832</integer>
	<key>/OPS/c03.xml#bliopage35</key>
	<integer>42339</integer>
	<key>/OPS/c03.xml#bliopage36</key>
	<integer>43887</integer>
	<key>/OPS/c03.xml#bliopage37</key>
	<integer>45471</integer>
	<key>/OPS/c03.xml#bliopage38</key>
	<integer>47026</integer>
	<key>/OPS/c03.xml#bliopage39</key>
	<integer>48565</integer>
	<key>/OPS/c04.xml</key>
	<integer>49037</integer>
	<key>/OPS/c04.xml#bliopage40</key>
	<integer>49335</integer>
	<key>/OPS/c04.xml#bliopage41</key>
	<integer>50432</integer>
	<key>/OPS/c04.xml#bliopage42</key>
	<integer>51967</integer>
	<key>/OPS/c04.xml#bliopage43</key>
	<integer>53379</integer>
	<key>/OPS/c04.xml#bliopage44</key>
	<integer>54981</integer>
	<key>/OPS/c04.xml#bliopage45</key>
	<integer>56524</integer>
	<key>/OPS/c04.xml#bliopage46</key>
	<integer>58137</integer>
	<key>/OPS/c04.xml#bliopage47</key>
	<integer>59642</integer>
	<key>/OPS/c04.xml#bliopage48</key>
	<integer>61141</integer>
	<key>/OPS/c04.xml#bliopage49</key>
	<integer>62547</integer>
	<key>/OPS/c04.xml#bliopage50</key>
	<integer>63965</integer>
	<key>/OPS/c05.xml</key>
	<integer>64921</integer>
	<key>/OPS/c05.xml#bliopage51</key>
	<integer>65219</integer>
	<key>/OPS/c05.xml#bliopage52</key>
	<integer>66345</integer>
	<key>/OPS/c05.xml#bliopage53</key>
	<integer>67856</integer>
	<key>/OPS/c05.xml#bliopage54</key>
	<integer>69383</integer>
	<key>/OPS/c05.xml#bliopage55</key>
	<integer>70951</integer>
	<key>/OPS/c05.xml#bliopage56</key>
	<integer>72460</integer>
	<key>/OPS/c06.xml</key>
	<integer>73633</integer>
	<key>/OPS/c06.xml#bliopage57</key>
	<integer>73931</integer>
	<key>/OPS/c06.xml#bliopage58</key>
	<integer>74967</integer>
	<key>/OPS/c06.xml#bliopage59</key>
	<integer>76561</integer>
	<key>/OPS/c06.xml#bliopage60</key>
	<integer>77996</integer>
	<key>/OPS/c06.xml#bliopage61</key>
	<integer>79446</integer>
	<key>/OPS/c06.xml#bliopage62</key>
	<integer>80930</integer>
	<key>/OPS/c06.xml#bliopage63</key>
	<integer>82428</integer>
	<key>/OPS/c07.xml</key>
	<integer>82793</integer>
	<key>/OPS/c07.xml#bliopage64</key>
	<integer>83091</integer>
	<key>/OPS/c07.xml#bliopage65</key>
	<integer>84180</integer>
	<key>/OPS/c07.xml#bliopage66</key>
	<integer>85704</integer>
	<key>/OPS/c07.xml#bliopage67</key>
	<integer>87296</integer>
	<key>/OPS/c07.xml#bliopage68</key>
	<integer>88867</integer>
	<key>/OPS/c07.xml#bliopage69</key>
	<integer>90311</integer>
	<key>/OPS/c08.xml</key>
	<integer>91737</integer>
	<key>/OPS/c08.xml#bliopage70</key>
	<integer>92035</integer>
	<key>/OPS/c08.xml#bliopage71</key>
	<integer>93200</integer>
	<key>/OPS/c08.xml#bliopage72</key>
	<integer>94676</integer>
	<key>/OPS/c08.xml#bliopage73</key>
	<integer>96351</integer>
	<key>/OPS/c08.xml#bliopage74</key>
	<integer>97885</integer>
	<key>/OPS/c08.xml#bliopage75</key>
	<integer>99395</integer>
	<key>/OPS/c08.xml#bliopage76</key>
	<integer>100900</integer>
	<key>/OPS/c09.xml</key>
	<integer>102193</integer>
	<key>/OPS/c09.xml#bliopage77</key>
	<integer>102491</integer>
	<key>/OPS/c09.xml#bliopage78</key>
	<integer>103555</integer>
	<key>/OPS/c09.xml#bliopage79</key>
	<integer>105154</integer>
	<key>/OPS/c09.xml#bliopage80</key>
	<integer>106620</integer>
	<key>/OPS/c09.xml#bliopage81</key>
	<integer>108165</integer>
	<key>/OPS/c09.xml#bliopage82</key>
	<integer>109693</integer>
	<key>/OPS/c10.xml</key>
	<integer>110559</integer>
	<key>/OPS/c10.xml#bliopage83</key>
	<integer>110857</integer>
	<key>/OPS/c10.xml#bliopage84</key>
	<integer>111945</integer>
	<key>/OPS/c10.xml#bliopage85</key>
	<integer>113522</integer>
	<key>/OPS/c10.xml#bliopage86</key>
	<integer>115056</integer>
	<key>/OPS/c10.xml#bliopage87</key>
	<integer>116636</integer>
	<key>/OPS/c11.xml</key>
	<integer>118143</integer>
	<key>/OPS/c11.xml#bliopage88</key>
	<integer>118441</integer>
	<key>/OPS/c11.xml#bliopage89</key>
	<integer>119570</integer>
	<key>/OPS/c11.xml#bliopage90</key>
	<integer>121162</integer>
	<key>/OPS/c11.xml#bliopage91</key>
	<integer>122686</integer>
	<key>/OPS/c11.xml#bliopage92</key>
	<integer>124197</integer>
	<key>/OPS/c11.xml#bliopage93</key>
	<integer>125762</integer>
	<key>/OPS/c11.xml#bliopage94</key>
	<integer>127239</integer>
	<key>/OPS/c12.xml</key>
	<integer>128500</integer>
	<key>/OPS/c12.xml#bliopage100</key>
	<integer>136006</integer>
	<key>/OPS/c12.xml#bliopage101</key>
	<integer>137550</integer>
	<key>/OPS/c12.xml#bliopage102</key>
	<integer>139009</integer>
	<key>/OPS/c12.xml#bliopage103</key>
	<integer>140518</integer>
	<key>/OPS/c12.xml#bliopage104</key>
	<integer>141960</integer>
	<key>/OPS/c12.xml#bliopage105</key>
	<integer>143579</integer>
	<key>/OPS/c12.xml#bliopage106</key>
	<integer>145068</integer>
	<key>/OPS/c12.xml#bliopage95</key>
	<integer>128798</integer>
	<key>/OPS/c12.xml#bliopage96</key>
	<integer>129889</integer>
	<key>/OPS/c12.xml#bliopage97</key>
	<integer>131480</integer>
	<key>/OPS/c12.xml#bliopage98</key>
	<integer>133045</integer>
	<key>/OPS/c12.xml#bliopage99</key>
	<integer>134504</integer>
	<key>/OPS/c13.xml</key>
	<integer>146394</integer>
	<key>/OPS/c13.xml#bliopage107</key>
	<integer>146692</integer>
	<key>/OPS/c13.xml#bliopage108</key>
	<integer>147786</integer>
	<key>/OPS/c13.xml#bliopage109</key>
	<integer>149311</integer>
	<key>/OPS/c13.xml#bliopage110</key>
	<integer>150761</integer>
	<key>/OPS/c13.xml#bliopage111</key>
	<integer>152274</integer>
	<key>/OPS/c13.xml#bliopage112</key>
	<integer>153926</integer>
	<key>/OPS/c13.xml#bliopage113</key>
	<integer>155463</integer>
	<key>/OPS/c13.xml#bliopage114</key>
	<integer>157030</integer>
	<key>/OPS/c13.xml#bliopage115</key>
	<integer>158643</integer>
	<key>/OPS/c14.xml</key>
	<integer>158987</integer>
	<key>/OPS/c14.xml#bliopage116</key>
	<integer>159285</integer>
	<key>/OPS/c14.xml#bliopage117</key>
	<integer>160440</integer>
	<key>/OPS/c14.xml#bliopage118</key>
	<integer>162013</integer>
	<key>/OPS/c14.xml#bliopage119</key>
	<integer>163587</integer>
	<key>/OPS/c14.xml#bliopage120</key>
	<integer>165131</integer>
	<key>/OPS/c14.xml#bliopage121</key>
	<integer>166667</integer>
	<key>/OPS/c14.xml#bliopage122</key>
	<integer>168125</integer>
	<key>/OPS/c14.xml#bliopage123</key>
	<integer>169626</integer>
	<key>/OPS/c14.xml#bliopage124</key>
	<integer>171145</integer>
	<key>/OPS/c14.xml#bliopage125</key>
	<integer>172581</integer>
	<key>/OPS/c14.xml#bliopage126</key>
	<integer>174118</integer>
	<key>/OPS/c14.xml#bliopage127</key>
	<integer>175548</integer>
	<key>/OPS/c14.xml#bliopage128</key>
	<integer>177119</integer>
	<key>/OPS/c14.xml#bliopage129</key>
	<integer>178690</integer>
	<key>/OPS/c14.xml#bliopage130</key>
	<integer>180235</integer>
	<key>/OPS/c15.xml</key>
	<integer>180863</integer>
	<key>/OPS/c15.xml#bliopage131</key>
	<integer>181161</integer>
	<key>/OPS/c15.xml#bliopage132</key>
	<integer>182259</integer>
	<key>/OPS/c15.xml#bliopage133</key>
	<integer>183878</integer>
	<key>/OPS/c15.xml#bliopage134</key>
	<integer>185392</integer>
	<key>/OPS/c15.xml#bliopage135</key>
	<integer>186897</integer>
	<key>/OPS/c15.xml#bliopage136</key>
	<integer>188392</integer>
	<key>/OPS/c15.xml#bliopage137</key>
	<integer>189815</integer>
	<key>/OPS/c15.xml#bliopage138</key>
	<integer>191362</integer>
	<key>/OPS/c15.xml#bliopage139</key>
	<integer>192855</integer>
	<key>/OPS/c16.xml</key>
	<integer>194407</integer>
	<key>/OPS/c16.xml#bliopage140</key>
	<integer>194705</integer>
	<key>/OPS/c16.xml#bliopage141</key>
	<integer>195847</integer>
	<key>/OPS/c16.xml#bliopage142</key>
	<integer>197469</integer>
	<key>/OPS/c16.xml#bliopage143</key>
	<integer>198920</integer>
	<key>/OPS/c16.xml#bliopage144</key>
	<integer>200368</integer>
	<key>/OPS/c17.xml</key>
	<integer>201961</integer>
	<key>/OPS/c17.xml#bliopage145</key>
	<integer>202259</integer>
	<key>/OPS/c17.xml#bliopage146</key>
	<integer>203331</integer>
	<key>/OPS/c17.xml#bliopage147</key>
	<integer>204854</integer>
	<key>/OPS/c17.xml#bliopage148</key>
	<integer>206385</integer>
	<key>/OPS/c17.xml#bliopage149</key>
	<integer>207880</integer>
	<key>/OPS/c18.xml</key>
	<integer>208662</integer>
	<key>/OPS/c18.xml#bliopage150</key>
	<integer>208960</integer>
	<key>/OPS/c18.xml#bliopage151</key>
	<integer>210023</integer>
	<key>/OPS/c18.xml#bliopage152</key>
	<integer>211548</integer>
	<key>/OPS/c18.xml#bliopage153</key>
	<integer>212959</integer>
	<key>/OPS/c18.xml#bliopage154</key>
	<integer>214356</integer>
	<key>/OPS/c18.xml#bliopage155</key>
	<integer>215736</integer>
	<key>/OPS/c18.xml#bliopage156</key>
	<integer>217369</integer>
	<key>/OPS/c18.xml#bliopage157</key>
	<integer>218854</integer>
	<key>/OPS/c18.xml#bliopage158</key>
	<integer>220422</integer>
	<key>/OPS/c19.xml</key>
	<integer>221675</integer>
	<key>/OPS/c19.xml#bliopage159</key>
	<integer>221973</integer>
	<key>/OPS/c19.xml#bliopage160</key>
	<integer>223001</integer>
	<key>/OPS/c19.xml#bliopage161</key>
	<integer>224425</integer>
	<key>/OPS/c19.xml#bliopage162</key>
	<integer>226149</integer>
	<key>/OPS/c20.xml</key>
	<integer>227745</integer>
	<key>/OPS/c20.xml#bliopage163</key>
	<integer>228043</integer>
	<key>/OPS/c20.xml#bliopage164</key>
	<integer>229086</integer>
	<key>/OPS/c20.xml#bliopage165</key>
	<integer>230736</integer>
	<key>/OPS/c20.xml#bliopage166</key>
	<integer>232246</integer>
	<key>/OPS/c20.xml#bliopage167</key>
	<integer>233760</integer>
	<key>/OPS/c20.xml#bliopage168</key>
	<integer>235291</integer>
	<key>/OPS/c21.xml</key>
	<integer>236678</integer>
	<key>/OPS/c21.xml#bliopage169</key>
	<integer>236976</integer>
	<key>/OPS/c21.xml#bliopage170</key>
	<integer>238014</integer>
	<key>/OPS/c21.xml#bliopage171</key>
	<integer>239537</integer>
	<key>/OPS/c21.xml#bliopage172</key>
	<integer>241137</integer>
	<key>/OPS/c21.xml#bliopage173</key>
	<integer>242761</integer>
	<key>/OPS/c21.xml#bliopage174</key>
	<integer>244307</integer>
	<key>/OPS/c21.xml#bliopage175</key>
	<integer>245871</integer>
	<key>/OPS/c21.xml#bliopage176</key>
	<integer>247359</integer>
	<key>/OPS/c21.xml#bliopage177</key>
	<integer>248869</integer>
	<key>/OPS/c22.xml</key>
	<integer>249654</integer>
	<key>/OPS/c22.xml#bliopage178</key>
	<integer>249952</integer>
	<key>/OPS/c22.xml#bliopage179</key>
	<integer>251087</integer>
	<key>/OPS/c22.xml#bliopage180</key>
	<integer>252608</integer>
	<key>/OPS/c22.xml#bliopage181</key>
	<integer>254287</integer>
	<key>/OPS/c22.xml#bliopage182</key>
	<integer>255806</integer>
	<key>/OPS/c22.xml#bliopage183</key>
	<integer>257343</integer>
	<key>/OPS/c22.xml#bliopage184</key>
	<integer>258982</integer>
	<key>/OPS/c22.xml#bliopage185</key>
	<integer>260565</integer>
	<key>/OPS/c22.xml#bliopage186</key>
	<integer>262040</integer>
	<key>/OPS/c22.xml#bliopage187</key>
	<integer>263517</integer>
	<key>/OPS/c22.xml#bliopage188</key>
	<integer>265065</integer>
	<key>/OPS/c22.xml#bliopage189</key>
	<integer>266706</integer>
	<key>/OPS/c23.xml</key>
	<integer>267435</integer>
	<key>/OPS/c23.xml#bliopage190</key>
	<integer>267733</integer>
	<key>/OPS/c23.xml#bliopage191</key>
	<integer>268839</integer>
	<key>/OPS/c23.xml#bliopage192</key>
	<integer>270353</integer>
	<key>/OPS/c23.xml#bliopage193</key>
	<integer>271757</integer>
	<key>/OPS/c23.xml#bliopage194</key>
	<integer>273278</integer>
	<key>/OPS/c23.xml#bliopage195</key>
	<integer>274782</integer>
	<key>/OPS/c24.xml</key>
	<integer>276288</integer>
	<key>/OPS/c24.xml#bliopage196</key>
	<integer>276586</integer>
	<key>/OPS/c24.xml#bliopage197</key>
	<integer>277762</integer>
	<key>/OPS/c24.xml#bliopage198</key>
	<integer>279249</integer>
	<key>/OPS/c24.xml#bliopage199</key>
	<integer>280773</integer>
	<key>/OPS/c24.xml#bliopage200</key>
	<integer>282442</integer>
	<key>/OPS/c24.xml#bliopage201</key>
	<integer>283913</integer>
	<key>/OPS/cover.xml</key>
	<integer>0</integer>
	<key>/OPS/cover.xml#bliopage1</key>
	<integer>405</integer>
	<key>/OPS/cover.xml#coverimage</key>
	<integer>341</integer>
	<key>/OPS/front.xml</key>
	<integer>948</integer>
	<key>/OPS/front.xml#bliopage2</key>
	<integer>1311</integer>
	<key>/OPS/titlepage.xml</key>
	<integer>550</integer>
	<key>/OPS/titlepage.xml#bliopage8</key>
	<integer>844</integer>
</dict>
</plist>
