<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/OPS/back.xml</key>
	<integer>281041</integer>
	<key>/OPS/c01.xml</key>
	<integer>5037</integer>
	<key>/OPS/c01.xml#bliopage10</key>
	<integer>5335</integer>
	<key>/OPS/c01.xml#bliopage11</key>
	<integer>6476</integer>
	<key>/OPS/c01.xml#bliopage12</key>
	<integer>8006</integer>
	<key>/OPS/c01.xml#bliopage13</key>
	<integer>9604</integer>
	<key>/OPS/c01.xml#bliopage14</key>
	<integer>11144</integer>
	<key>/OPS/c01.xml#bliopage15</key>
	<integer>12756</integer>
	<key>/OPS/c01.xml#bliopage16</key>
	<integer>14363</integer>
	<key>/OPS/c02.xml</key>
	<integer>19476</integer>
	<key>/OPS/c03.xml</key>
	<integer>31400</integer>
	<key>/OPS/c04.xml</key>
	<integer>48577</integer>
	<key>/OPS/c05.xml</key>
	<integer>64241</integer>
	<key>/OPS/c06.xml</key>
	<integer>72833</integer>
	<key>/OPS/c07.xml</key>
	<integer>81853</integer>
	<key>/OPS/c08.xml</key>
	<integer>90677</integer>
	<key>/OPS/c09.xml</key>
	<integer>100993</integer>
	<key>/OPS/c10.xml</key>
	<integer>109239</integer>
	<key>/OPS/c11.xml</key>
	<integer>116723</integer>
	<key>/OPS/c12.xml</key>
	<integer>126940</integer>
	<key>/OPS/c13.xml</key>
	<integer>144587</integer>
	<key>/OPS/c14.xml</key>
	<integer>156991</integer>
	<key>/OPS/c15.xml</key>
	<integer>178552</integer>
	<key>/OPS/c16.xml</key>
	<integer>191907</integer>
	<key>/OPS/c17.xml</key>
	<integer>199356</integer>
	<key>/OPS/c18.xml</key>
	<integer>205952</integer>
	<key>/OPS/c19.xml</key>
	<integer>218776</integer>
	<key>/OPS/c20.xml</key>
	<integer>224762</integer>
	<key>/OPS/c21.xml</key>
	<integer>233569</integer>
	<key>/OPS/c22.xml</key>
	<integer>246356</integer>
	<key>/OPS/c23.xml</key>
	<integer>263885</integer>
	<key>/OPS/c24.xml</key>
	<integer>272612</integer>
	<key>/OPS/cover.xml</key>
	<integer>0</integer>
	<key>/OPS/cover.xml#bliopage1</key>
	<integer>405</integer>
	<key>/OPS/cover.xml#coverimage</key>
	<integer>341</integer>
	<key>/OPS/front.xml</key>
	<integer>948</integer>
	<key>/OPS/front.xml#bliopage2</key>
	<integer>1311</integer>
	<key>/OPS/titlepage.xml</key>
	<integer>550</integer>
	<key>/OPS/titlepage.xml#bliopage8</key>
	<integer>844</integer>
</dict>
</plist>
