<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/content/index.xhtml</key>
	<integer>0</integer>
	<key>/content/index.xhtml#1</key>
	<integer>485</integer>
	<key>/content/index.xhtml#10</key>
	<integer>9200</integer>
	<key>/content/index.xhtml#2</key>
	<integer>684</integer>
	<key>/content/index.xhtml#3</key>
	<integer>2216</integer>
	<key>/content/index.xhtml#4</key>
	<integer>2812</integer>
	<key>/content/index.xhtml#5</key>
	<integer>4121</integer>
	<key>/content/index.xhtml#6</key>
	<integer>5433</integer>
	<key>/content/index.xhtml#7</key>
	<integer>6577</integer>
	<key>/content/index.xhtml#8</key>
	<integer>7611</integer>
	<key>/content/index.xhtml#9</key>
	<integer>8241</integer>
</dict>
</plist>
