a  {
	color: blue;
}



.aboutPublisherPage	{
	display: block;
	page-break-before: always;
			}


.aboutPublisherHead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}


.aboutPublisherText	{
	display: block;
	margin-top: 3%;
	margin-bottom: 2%;
	text-indent: 0%;
	font-size: medium;
	font-weight: normal;
			}


.aboutPublisherText1 	{
	display: block;
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-size: medium;
	font-weight: normal;
			}


.aboutAuthorPage	{
	display: block;
	page-break-before: always;
			}

.aboutAuthorHead	{
	display: block;
	margin-top: 7%;
	margin-bottom: 7%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight:bold;
			}

.aboutAuthorText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	font-size:     small;
	margin-bottom: 4%;
	text-align:  justify;
	text-indent:     0%;
			}

.aboutBookPage	{
	display: block;
	page-break-before: always;
			}

.aboutBookHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.aboutBookText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}

.aboutTypePage	{
	display: block;
	page-break-before: always;
			}

.aboutTypeHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.aboutTypeText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}







.acknowledgePage	{
	display: block;
	page-break-before: always;
			}

.acknowledgeHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
				}

.acknowledgeDateline	{
	display: block;
	text-align:  right;
	text-indent:     0%;
	margin-bottom: 3%;	
	

			}

.acknowledgeAuthor	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
				}

.acknowledgeSubhead  	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	
			}



.acknowledgeText	{
   	display: block;
	text-align:  justify;
	text-indent:     5%;
	margin-bottom: 0%;	
			}


.acknowledgeTextNoIndent	{
   	display: block;
	text-align:  justify;
	text-indent:     0%;
	margin-bottom: 0%;	
			}

.acknowledgeTextCenter	{
   	display: block;
	text-align:  center;
	text-indent:     0%;
	margin-bottom: 0%;	
			}


.adCardPage { 
	display: block;
	page-break-before: always;
	 	 }


.adCardHead	{
	display: block; 
	margin-top: 15%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	
			}


.adCardSubhead	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;

			}

.adCardText {
	display: block;
	font-style: normal;
	font-weight:     normal;
	text-align:     center;
	text-indent: 0%;
	margin-bottom: 0%;
	font-size: small;
	}

.adCardText1	{
	display: block;
	font-style: normal;
	font-weight:     normal;
	text-align:     center;
	text-indent: 0%;
	margin-bottom: 3%;
	font-size: small;			}



.altFrontMatterHeading	{
			}

.altPara	{
			}

.altParaNoIndent	{
			}

.backMatter	{
			}

.backMatterHead	{
			}

.backMatterSubhead	{
			}
			
.backMatterPage	{
	display: block;
	page-break-before: always;
			}

.backmatterPageHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.backmatterPageText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	text-align:  justify;
	text-indent:     0%;
			}

.bibAuthor	{

			}

.bibEdition	{

			}

.bibPublisher	{

			}

.bibPublisherCity	{

			}

.bibTitle	{

			}

.bibYear	{

			}

.bibliography	{
	display: block;
	page-break-before: always;
	
			}

.bibliographyEntry	{
	display: block; 
	margin-left: 0%;
	margin-bottom: 0%;	
	text-indent: 0%;
			}


.bibliographyEntry1	{
	display: block; 
	margin-left: 10%;
	margin-bottom: 0%;	
	text-indent: 0%;
			}

.bibliographyHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-indent: 0%;
	font-size: xx-large;
	font-weight:bold;
			}

.bodyMatter	{

			}

.bold	{
        display: inline;
        font-weight: bold;
        }

.bold1	{
        display: inline;
        
        }

.box	{
	display: block; 
	page-break-before: always;
	margin-top:15%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
			}


.boxbig	{
	display: block; 
	margin-top:5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
			}

.boxEpigraph	{

			}

.boxEpigraphSource	{
	display: block; 
	text-align: right;
	text-indent: 0%;
	
			}

.boxEpigraphText	{
	display: block; 
	text-align: justify;
	text-indent: 5%;
	
			}

.boxEpigraphVerse	{
	display: block; 
	text-align: justify;
	text-indent: 0%;
			}

.boxHeadA	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-size: medium;
			}

.boxHeadB	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-size: medium;
			}

.boxHeadC	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-size: medium;
			}



.boxTitle	{
	display: block; 
	margin-bottom: 1%;	
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: large;
			}

.boxSubTitle	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: medium;
			}

.boxText	{
	display: block; 
	margin-bottom: 0%;	
	text-align: right;
			}
			
.boxTextNoIndent	{
	display: block; 
	text-align: justify;
	text-indent: 0%;
			}

.boxTextNoIndent1	{
	display: block; 
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
	text-indent: 0%;
			}

.boxTextCenter	{
	display: block; 
	text-align: center;
	text-indent: 0%;
			}

.bulletList	{
	display: block;
	margin-left:8%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}

.bulletListleft	{
	display: block;
	margin-left: 10%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}

.bulletListtop	{
	display: block;
	margin-left:8%;
	margin-right:5%;
	margin-top: 0%;
	margin-bottom:5%;
			}

.bulletListbottom	{
	display: block;
	margin-left:8%;
	margin-right:5%;
	margin-top: 5%;
	margin-bottom:0%;
			}

.bulletListboth	{
	display: block;
	margin-left:8%;
	margin-right:5%;
	margin-top: 0%;
	margin-bottom:0%;
			}

.caption	{
	display: block; 
	margin-top: 0%;	
	margin-bottom:5%;
	text-indent:0%;
	text-align: center;
	font-size: medium;
			}

.centerImage	{
	display: block; 
	margin-top: 40%;	
	margin-bottom: 3%;
	text-indent:0%;
	text-align: center;
	
			}

.chapter	{
	display: block; 
	page-break-before: always;
			}

.chapterAuthor	{

			}

.chapterBody	{

			}

.chapterByline	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     small;
	text-align:     right;
	margin-top: 5%;
	text-indent:0%;		}
			
.chapterDateline	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:    medium;
	text-align:     left;
	margin-left: 0%;
	text-indent:0%;
	margin-top: 5%;
	margin-bottom: 5%;
			}

.chapterEpigraph	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 15%;
			}

.chapterEpigraphHead	{
	display: block; 
	margin-bottom: 2%;
	text-indent: 0%;
	text-align: center;
	font-weight: bold;

			}
			
.chapterEpigraphSource	{
	display: block; 
	margin-top: 2%;	
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 20%;
	text-indent: 0%;
	text-align: justify;
	font-style: normal;

			}

.chapterEpigraphText	{
	display: block; 
	text-align: justify;
	margin-bottom: 0%;	
	text-indent:0%;

			}

.chapterEpigraphText1	{
	display: block; 
	text-align: justify;
	margin-bottom: 0%;	
	text-indent:0%;

			}

.chapterEpigraphVerse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
			}

.chapterHead	{
	display: block; 
			}

.chapterHeadA	{
	display: block; 
	margin-bottom: 5%;	
	margin-top: 8%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
			}

.chapterHeadB	{
	display: block; 
	margin-bottom: 2%;	
	margin-top: 2%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
			}

.chapterHeadC	{
	display: block; 
	margin-bottom: 2%;	
	margin-top: 2%;
	text-align: left;
	text-indent: 0%;
	font-size: medium;
			}

.chapterNumber	{
	display: block; 
	margin-top: 10%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight:bold;

			}


.chapterNumber1	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 15%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight:bold;

			}

.chapterOpenerFirstLetters	{
	display: inline; 
	font-weight:bold; 
	font-size: xx-large;

			}

.chapterOpenerFirstWords	{
	display: inline; 
	font-weight:bold; 
	font-size:medium;
			}

.chapterOpenerText	{
	display: block; 
	text-indent:0%;
			}
			
.chapterOpenerText1	{
	display: block;
	margin-top:25%; 
	text-indent:0%;
			}


.chapterSubtitle	{
	display: block; 
	margin-top: 3%;
	margin-bottom: 20%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}

.chapterTitle1	{
	display: block; 
	margin-top: 15%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
	text-indent: 0%;
			}

.chapterTitle	{
	display: block; 
	margin-top: 20%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
	text-indent: 0%;
			}

.colophon	{
	display: block;
	text-align: center;
	text-indent: 0%;
	margin-top:35%;
			}




.computer	{

			}

.contents	{
	display: block; 
	page-break-before: always;
	
			}

.contentsEntry	{
	display: block; 
	margin-top: 4%;
	margin-bottom: 0%;
	text-indent: 0%;
	text-align: left;
	font-size: medium;
	font-weight: bold;
	
			}

.contentsEntry1	{
	display: block; 
	margin-top: 2%;
	margin-bottom: 0%;
	text-indent: 0%;
	text-align: left;
	font-size: medium;
	font-weight: bold;
			}

.contentsEntryName	{
	display:  block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;	
			}

.contentsEntryName1	{
	display:  block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	text-align:center;
	font-size: medium;
	font-weight: bold;	
			}

.contentsEntryName2	{
	display:  block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	text-align:justify;
	margin-left:10%;
	font-size: medium;
	font-weight: bold;	
			}

.contentsEntryNumber	{
	display:  block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;
			}

.contentsEntryText	{
	display:  block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-indent: 0%;
	font-size: medium;
	
			}

.contentsHead	{
	display: block; 
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight: bold;

			}

.copyrightAddress	{
	display: block; 
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.copyrightPage	{
	display: block; 
	page-break-before:     always;


			}


.copyrightHead	{
	display: block; 
	margin-top: 6%;
	margin-bottom: 6%;
	text-align: center;
	text-indent: 0%;
	font-size: xx-large;
	font-weight: bold;

			}

.copyrightPageEISBN	{
	display: inline; 
	margin-top: 2%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.copyrightText	{
	display: block; 
	margin-top: 3%;
	font-weight:     normal;
	font-size:     small;
	text-align:     justify;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.coverImage	{
	display: block;
	text-align: center;
	text-indent: 0%;
			}

.dedicationAuthor	{

			}

.dedicationHead	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	
			}

.dedicationPage	{
	display: block; 
	page-break-before:     always;
	margin-top: 27%;
	
			}

.dedicationText	{
	display: block; 
	font-weight:     normal;
	font-size:     medium;
	text-align:     center;
	text-indent: 0%;
	margin-bottom:     0%;

			}

.dialogue	{

			}

.document	{

			}

.endnote	{
	display: block;
	text-indent: 0%;		}

.endnoteNumber	{

			}

.endnotes	{
	display: block;
	page-break-before: always;
	
			}

.endnotesHead	{

			}

.epigraphHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.epigraphPage	{
	display: block;
	page-break-before: always;
	margin-left:    10%;
	margin-right: 10%;
	margin-top:     20%;
				}

.epigraphSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     small;
	text-align:     right;
	text-indent: 0%;
	margin-right:20%;
	margin-top: 0%;
	}

.epigraphText	{
   	display:block;
	font-style:     normal;
	font-size:     small;
	text-align:     right;
	text-indent: 0%;
	margin-right:20%;
		}

.epigraphVerse	{
	display:block;
	font-style:     normal;
	font-size:     small;
	text-align:     justify;
	text-indent: 0%;	
			}

.extract	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-right:5%;
	margin-left:5%;
			}

.extract1	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-right: 5%;
	margin-left: 10%;
			}

.extracttop	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 5%;	
	margin-right: 5%;
	margin-left: 5%;
			}

.extractbottom	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 0%;	
	margin-right: 5%;
	margin-left: 5%;
			}

.extractboth	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 0%;	
	margin-right: 5%;
	margin-left: 5%;
			}

.extractDialogue	{
	display: block; 
	margin-bottom: 0%;	
	text-indent: 0%;
			}

.extractHead	{
	display: block; 
	margin-bottom: 7%;	
	text-indent:0%;
	margin-top: 5%;
	text-align: center;
			}

.extractHeadLeft	{
	display: block; 
	text-align: left;
	margin-bottom: 0%;	
	text-indent:0%;
			}

.extractHeadRight	{
	display: block; 
	text-align: right;
	margin-bottom: 0%;	
	text-indent:0%;
			}


.extractLetter	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right:5%;

			}

.extractLetter1	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right:5%;

			}

.extractLetterDateline	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;

			}

.extractLetterPostscript	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;

			}

.extractLetterSalutation	{
	display: block; 
	margin-bottom: 0%;
	margin-left:5%;	
	text-indent:0%;

			}

.extractLetterSignature	{
	display: block; 
	margin-bottom: 0%;
	margin-left:45%;	
	text-indent:0%;
			}

.extractLetterText	{
	display: block; 
	margin-bottom: 0%;	
	text-indent: 5%;
			}
			
.extractLetterTextCenter	{
	display: block; 
	margin-bottom: 0%;
	text-align:center;	
	text-indent: 0%;
			}

.extractLetterTextNoIndent	{
	display: block; 
	margin-bottom: 0%;	
	text-indent: 0%;
			}

.extractSongLyric	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;

			}
			
.extractSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     small;
	text-align:     right;
	text-indent:0%;
	margin-top: 0%;
	}

.extractTelegram	{

			}
			
.extractText	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:5%;
			}

.extractSubTitle	{
	display: block; 
	margin-bottom: 4%;
	margin-top:4%;
	text-align:center;	
	text-indent:0%;
			}


.extractTextNoIndent	{
	display: block; 
	margin-bottom: 0%;
	margin-left:5%;	
	text-indent:0%;
			}

.extractTextNoIndent1	{
	display: block; 
	margin-bottom: 0%;
	margin-left:30%;	
	text-indent:0%;
			}

.extractVerse	{
	display: block; 
	margin-left: 5%;
	margin-bottom: 0%;	
	text-indent: 0%;
			}
			
.extractVerse1	{
	display: block; 
	margin-left: 10%;
	margin-bottom: 0%;	
	text-indent: 0%;
			}

.extractVerse2	{
	display: block; 
	margin-left: 0%;
	margin-bottom: 0%;	
	text-indent: 0%;
	text-align:center;
			}

.extractVerseIndent	{
	display: block; 
	margin-left: 5%;
	text-indent: 10%;
	margin-bottom: 0%;	
	text-indent:0%;
			}
			
.noteBlock	{
	display: block;
	page-break-before: always;
			}

.footnote	{
	display: block;
	margin-bottom: 5%;
	font-size:     x-small;
	font-style:     normal;
	font-weight:     normal;
	text-indent:     0%;
	text-align:     left;
        page-break-after: always;
			}

.footnotePara	{
	display: block;
	font-size:     x-small;
	margin-bottom: 2%;
	font-style:     normal;
	font-weight:     normal;
	text-indent:     0%;
	text-align:     left;
			}

.footnoteRef	{
	display: inline;
	font-size:     x-small;
	font-style:     normal;
	font-weight:     normal;
	vertical-align: sup;
			}
			
.foreword {
	display: block; 
	page-break-before: always;
			}

.forewordByline	{
	display: block;
	margin-top: 2%;
	text-align: left;
	margin-left:25%;

			}

.forewordDateline	{
	display: block;
	margin-top: 2%;
	text-align: left;
	margin-left:25%;

			}

.forewordHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.frontis	{
	display: block; 
	page-break-before: always;



			}

.frontMatter	{

			}

.frontMatterAuthor	{

			}

.frontMatterBody	{

			}

.frontMatterEpigraph	{

			}

.frontMatterEpigraphSource	{

			}

.frontMatterEpigraphText	{

			}

.frontMatterEpigraphVerse	{

			}

.frontMatterHead	{

			}

.frontMatterHeading	{

			}

.frontMatterPage	{
	display: block;
	page-break-before: always;

			}

.frontMatterSubhead	{

			}

.frontMatterText	{

			}

.frontMatterText1	{

			}

.glossary	{
	display: block; 
	page-break-before: always;
			}

.glossaryDefinition	{

			}
			
.glossaryDefinition	{
	text-align: center;
	text-indent: 0%;
			}

.glossaryEntry	{
	display: block; 
	margin-left: 5%;
	margin-bottom: 2%;	
	text-indent: 0%;
			}

.glossaryHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight: bold;
			}

.glossaryTerm	{
	display: inline; 
	font-weight: bold;
			}

.glossaryText	{

			}

.halfTitleImage	{

			}

.halfTitlePage	{
	display: block;
	page-break-before: always;

			}

.halfTitlePageAuthor	{

			}

.halfTitlePageTitle	{
	display: block; 
	margin-top: 20%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight: bold;

			}

.header	{
	display:none;

			}

.illustrationCreditPage	{
	display: block;
	page-break-before: always;
			}

.illustrationCreditText	{
	display: block;
	text-align: justify;
	text-indent: 0%;
			}

.illustrationEntry	{

			}

.illustrationEntryBackMatter	{

			}

.illustrationEntryBodyMatter	{

			}

.illustrationEntryFrontMatter	{

			}

.illustrationEntryName	{

			}

.illustrationEntryNumber	{

			}

.illustrationEntryText	{

			}

.illustrationHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.illustrationPage	{
	display: block;
	page-break-before: always;
			}

.index	{
	display: block;
	page-break-before: always;
			}

.indexEntry	{
	display: block; 
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.indexItem	{
	display: block; 
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-left: 10%;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.indexHead	{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}

.indexSubEntry	{
	display: block; 
	margin-left: 5%;
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.indexSubSubEntry	{
	display: block; 
	margin-left: 10%;
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}
			
.indexSubSubSubEntry	{
	display: block; 
	margin-left: 15%;
	margin-top: 0%;
	font-weight:     normal;
	font-size:     small;
	text-align:     left;
	margin-bottom:     0%;
	text-indent:     0%;
			}

.italic	{ 
	display: inline;
	font-style: italic;

			}

.italic1	{ 
	display: inline;
	


			}

.leftImage	{
	display: block;
	text-align: left;
	text-indent: 0%;
			}

.lineSpace1	{
	display: block;
	margin-top: 2%;	
	margin-bottom: 2%;	

			}

.lineSpace2	{

			}

.lineSpace3	{

			}
.link	{
        display: none;
			}

.listHead	{

			}

.listItem	{
	display: list-item;
	margin-left:15%;	

			}
.listItem1	{
	display: list-item;

 

			}

.narrative	{

			}

.narrative1	{

			}

.newPage	{
	page-break-before: always;
			}

ol.ol-arabic	{
	display: block;
	list-style-type: decimal;
	margin-left:10%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-alpha-upper	{
	display: block;
	list-style-type: upper-alpha;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-alpha-lower	{
	display: block;
	list-style-type: lower-alpha;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
			
ol.ol-roman-upper	{
	display: block;
	list-style-type: upper-roman;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}
ol.ol-roman-lower	{
	display: block;
	list-style-type: lower-roman;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}

.para	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:5%;

			}

.paraCenter	{
	display: block; 
	text-indent:0%;
	text-align:center;

			}

.paraNoIndent	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
			}

.paraNoIndent1	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
	text-align:right;
	margin-right:2%;
			}
.paraNoIndent2	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
	text-align:justify;
	margin-left:2%;
			}

.part	{
	display: block; 
	page-break-before: always;
			}

.partBody	{

			}

.partEpigraph	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
			}
			
.partEpigraphSource	{
	display: block; 
	margin-top: 5%;	
	margin-bottom: 0%;
	margin-right: 0%;
	margin-left: 0%;
	text-align: right;
	font-style: normal;

			}

.partEpigraphText	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;

			}

.partEpigraphVerse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
			}

.partHead	{
	display: block; 
	page-break-before: always;
			}


.partNumber	{
	display: block; 
	margin-top: 30%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;

			}

.partOpenerFirstLetters	{
	display: inline; 
	font-weight:bold; 
	font-size: xx-large;

			}

.partOpenerFirstWords	{
	display: inline; 
	font-weight:bold; 
	font-size:medium;
			}

.partOpenerText	{
	display: block; 
	text-indent:0%;
			}
			


.partSubtitle	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: large;
	font-weight:bold;
			}

.partTitle	{
	display: block; 
	margin-top: 20%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: x-large;
	font-weight:bold;
			}
			
.poem	{
	display: block; 
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-right:5%;
	margin-left:5%;
			}

.poemSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     medium;
	text-align:     right;
	margin-left: 25%;
	margin-top: 5%;
	}

.poemTitle	{
	display: block; 
	margin-bottom: 2%;	
	margin-top: 2%;
	text-align: center;
	text-indent: 0%;
	font-weight: bold;
	font-size: medium;
			}

.reviewPage	{
	display: block;
	page-break-before: always;
			}

.reviewPageHead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight:bold;
			}

			
.reviewPageSubhead	{
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight:bold;
			}
			
.reviewPageText	{
   	display: block;
	font-style:     normal;
	font-weight:     normal;
	font-size:     small;
	text-align:  center;
	text-indent:     0%;
			}
			
.reviewPageSource	{
	display:block;
	font-weight:     normal;
	font-style:     normal;
	font-size:     small;
	text-align:     center;
	text-indent:     0%;
	margin-bottom: 5%;
	}

.rightImage	{
	display: block;
	text-align: right;
	text-indent: 0%;

			}

.sidebar	{
	display: block; 
	margin-top:5%;
	margin-bottom: 5%;
	margin-right: 15%;
	margin-left: 15%;
			}

.sidebarEpigraph	{

			}

.sidebarEpigraphSource	{

			}

.sidebarEpigraphText	{

			}

.sidebarEpigraphVerse	{

			}

.sidebarHead	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: large;
			}

.sidebarSubhead	{
	display: block; 
	margin-bottom: 2%;	
	text-indent:0%;
	text-align: center;
	font-weight: bold;
	font-size: medium;
			}

.sidebarText	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: left;
	text-indent: 5%;
			}
			
.sidebarTextNoIndent	{
	display: block; 
	margin-bottom: 1%;	
	text-indent:0%;
	text-align: left;
	text-indent: 0%;
			}

.smallCaps {
	font-size: 10pt;
}

.smallCaps1 {
	font-size: 14pt;
}


.spaceBreak	{
	display: block; 
	margin-bottom: 2%;
	margin-top: 2%;
                  text-align: center;
	text-indent: 0%;
			}

.spaceOrnament	{
	display: block; 
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
	text-indent: 0%;
			}

.stanza	{
	display: block; 
	margin-bottom: 2%;
        margin-top: 2%; 
        text-indent: 0%;
			}

.subscript	{
	vertical-align: sub;
			}

.superscript	{
	vertical-align: sup;
			}

.table	{
	display: table;
	text-align:justify;
		}

.tableTitle	{
	display: table-row;
			}

.tableOfCharacters	{

			}
.td	{
	display: table-cell;
			}

.text	{

			}

.titleImage	{

			}

.titlePage	{
	display: block;
	page-break-before: always; 
	
			}

.titlePageAuthor	{
	display: block; 
	margin-top: 15%;
	margin-bottom: 10%;
	text-align: center;
	text-indent: 0%;
	font-size: 26pt;
	font-weight: bold;
			}

.titlePageCity	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size:  10pt;
	
			}

.titlePageContrib	{

			}

.titlePageImprint	{

			}

.titlePagePublisher	{
	display: block; 
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	
			}

.titlePageSubtitle	{
	display: block; 
	margin-top: 2%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: medium;
	font-weight: bold;
			}

.titlePageTitle	{
	display: block; 
	margin-top: 15%;
	margin-bottom: 5%;
	text-align: center;
	text-indent: 0%;
	font-size: 25pt;
	font-weight: bold;

			}
			
.titlePageText {
	display: block;
	text-indent: 0%;
	margin-top: 7%;
	font-size: 12pt;
	text-indent: 0%;
	text-align: center;
}

			
.tr	{
	display: table-row;
			}

ul.unOrderedList	{
	display: block;
	list-style-type: none;
	margin-left: 5%;
	text-indent: 0%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
			}


.underline	{
	display: inline;
	text-decoration: underline;
			}
.verse	{
	display: block; 
	margin-bottom: 0%;	
	text-indent:0%;
        }

.xref	{

			}

.xrefExternal	{

			}

.xrefInternal	{

			}

.xrefURL	{
	display: inline;
        color: blue;
	

			}